<!--<app-nav></app-nav>-->
<div class="background-know">
  <div class="container" >
    <div fxLayout="row" fxLayout.lt-md="column" >
      <div fxFlex="15">
      </div>
      <div fxFlex="70" class="content-knowledge">
           <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/1.png" >
            <img src="https://storage.googleapis.com/web-assets/mailer-doctors/Z1.jpg" >
            <img src="https://storage.googleapis.com/web-assets/mailer-doctors/Z3.jpg" >
             <img src="https://storage.googleapis.com/web-assets/mailer-doctors/Z4.jpg" >
            <img src="https://storage.googleapis.com/web-assets/mailer-doctors/Z5.jpg" >
             <img src="https://storage.googleapis.com/web-assets/mailer-doctors/Slide-1-1.jpg" >
           <img src="https://storage.googleapis.com/web-assets/mailer-doctors/Slide-1.jpg" >
          <img src="https://storage.googleapis.com/web-assets/mailer-doctors/Slide--2.jpg" >
          <img src="https://storage.googleapis.com/web-assets/mailer-doctors/Slide-new-2-1.jpg" >
        <h4 >Option 1:<span><a href="https://www.youtube.com/watch?v=eoAf-45PjRs&t=158s" target="_blank">&nbsp;https://www.youtube.com/watch?v=eoAf-45PjRs&t=158s</a></span></h4>
          <img src="https://storage.googleapis.com/web-assets/mailer-doctors/Slide-new-3.jpg" >
          <img src="https://storage.googleapis.com/web-assets/mailer-doctors/The-Importance-of-Diagnosing-Inducible-Ischaemia-I-Dr.jpg" >
        <img src="https://storage.googleapis.com/web-assets/mailer-doctors/The-Importance-of-Diagnosing-Inducible-Ischaemia-I-Dr.jpg" >
        <h4 >Option 2:<span><a href="https://www.youtube.com/watch?v=PD2m8SpvcMQ" target="_blank">&nbsp;https://www.youtube.com/watch?v=PD2m8SpvcMQ</a></span></h4>
          <img src="https://storage.googleapis.com/web-assets/mailer-doctors/Slide-new-4.jpg" >
        <img src="https://storage.googleapis.com/web-assets/mailer-doctors/Slide-new-5.jpg" >
        <h4 >Option 3:<span><a href="https://bit.ly/2uctmAC" target="_blank">&nbsp;https://bit.ly/2uctmAC</a></span></h4>
        <img src="https://storage.googleapis.com/web-assets/mailer-doctors/Slide-new-6.jpg" >
        <img src="https://storage.googleapis.com/web-assets/mailer-doctors/Slide-new-7.jpg" >
        <h4 >search engine optimization to enable orgnaic discovery</h4>
        <img src="https://storage.googleapis.com/web-assets/mailer-doctors/SEO.jpg" >
        <h4 >Special Write up based on the trnascript of the talk</h4>
        <img src="https://storage.googleapis.com/web-assets/mailer-doctors/04.jpg" >
        <img src="https://storage.googleapis.com/web-assets/mailer-doctors/05.jpg" >
      </div>
      <div fxFlex="15"></div>
    </div>
  </div>
</div>
<!--<app-footer></app-footer>-->