<div style="padding:24px;height:85%;">
    <div class="row" fxLayoutAlign="end">
        <i class="material-icons" (click)="dclose()" style="cursor: pointer;">
        close
        </i>
    </div>
    <div fxLayout="row">
        <h5 style="font-size: 14px;line-height: 1.5;text-align: center;">"You also agree to receive periodic newsletters and promotional materials from TheRightDoctors.com, a medical content publishing platform"</h5>
    </div>
</div>
<div fxLayout="row" style="width:100%;">
    <button mat-flat-button style="background-color:#04306f;color:#fff;width:100%;" >OK</button>
</div>