<section class="back2">
  <div fxLayout="column">
    <div fxFlex="100" fxLayout="column">
<br><br><br><br>
      <h3 class="loginp" style="text-align:center;color:teal"><b>Create New Password</b></h3><br>
    </div>

    <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
      <div class="login_box" style="border-radius:10px;box-shadow:1px 2px 10px lightgray;padding:20px;">
        <form id="example-form" (ngSubmit)="create_password()" #f="ngForm" novalidate>
          <p *ngIf="result" style="color:lightseagreen;margin-bottom:10px;text-align:center">{{result}}</p>
          <mat-form-field style="width:100%">
            <input matInput style="box-shadow:none;border:0" type="password" name="password" placeholder="New Password" [(ngModel)]="model.password" autofocus required>
          </mat-form-field>
          <mat-form-field style="width:100%">
            <input matInput style="box-shadow:none;border:0" type="password" name="cpassword" placeholder="Confirm New Password" [(ngModel)]="model.cpassword" required>
          </mat-form-field>
          <br/>
          <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!f.form.valid">Submit
              <i class="fa fa-spinner fa-spin" style="font-size:24px;" *ngIf="load"></i>
              <i class="fa fa-check" style="font-size:24px;color:lightseagreen" *ngIf="sent"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
