<!--<app-nav></app-nav>-->
<div class="background-know">

    <div class="container" >
      <div fxLayout="row" fxLayout.lt-md="column" >
        <div fxFlex="10">
        </div>
        <div fxFlex="80" class="page-content-sliders">

  <!--  <pdf-viewer [src]="pdfSrc"
                [render-text]="true"
                style="display: block;width:100%;"
    ></pdf-viewer>-->
            <!--<h2 style="text-align: center;color: #3f51b5;margin-bottom: 10px;">Knowledge Partner Presentation</h2>-->
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/1.png" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/2.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/3.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/4.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/5.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/6.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/7.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/8.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/9.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/10.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/11.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/12.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/13.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/14.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/15.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/16.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/17.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/18.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/19.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/20.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/21.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/22.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/23.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/24.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/25.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/26.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/27.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/28.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/29.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/30.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/31.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/32.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/33.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/34.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/35.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/36.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/37.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/38.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/39.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/40.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/41.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/42.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/43.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/44.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/45.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/46.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/47.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/48.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/49.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/50.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/51.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/52.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/53.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/54.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/55.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/56.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/57.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/58.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/59.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/60.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/61.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/62.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/63.PNG" >
            <img src="https://storage.googleapis.com/web-assets/medical-event-documnetation/64.PNG" >
        </div>
        <div fxFlex="10">
        </div>
  </div>
</div>
</div>
<!--<app-footer></app-footer>-->
