<app-nav></app-nav>
<section class="back2">
  <div class="container" style="clear:both">
    <!--<div fxLayout="row" fxLayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutGap="20px" style="clear:both">-->

      <!--&lt;!&ndash;<div fxFlex="25%">-->
        <!--<div class="tips_img mrg2">-->
          <!--<a [routerLink]="['/synapse/benefits-of-yoga']" title="">-->
            <!--<img src="assets/new-assets/tips/images/BenefitsofYoga/01.jpg" alt="Benefits of yoga"/>-->
          <!--</a>-->
          <!--<div class="tip_box_txt" style="position: initial;">Benefits of yoga</div>-->
        <!--</div>-->

      <!--</div>-->
      <!--<div fxFlex="25%">-->
        <!--<div class="tips_img mrg2">-->
          <!--<a [routerLink]="['/synapse/get-a-good-start']">-->
            <!--<img src="assets/new-assets/tips/images/GetaGoodStart/1.jpg" alt="Get a good start">-->
          <!--</a>-->
          <!--&lt;!&ndash;<div class="tip_box_txt" style="position: initial;">Get a good start</div>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
      <!--<div fxFlex="25%">-->
        <!--<div class="tips_img mrg2">-->
          <!--<a [routerLink]="['/synapse/homemade-remedies']">-->
            <!--<img src="assets/new-assets/tips/images/HomeMadeRemedies/15-6-15.jpg" alt="Home made remedies">-->
          <!--</a>-->
          <!--&lt;!&ndash;<div class="tip_box_txt" style="position: initial;">Home made remedies</div>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div fxFlex="25%">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="tips_img mrg2">&ndash;&gt;-->
          <!--&lt;!&ndash;<a [routerLink]="['/synapse/Quote-of-the-day']">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="/assets/new-assets/tips/images/QuoteoftheDay/08.jpg" alt="Quote of the day">&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="tip_box_txt" style="position: initial;">Quote of the day</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--</div>-->


    <div fxLayout="row" fxLayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div fxFlex="25%">
        <div class="tips_img mrg2">
          <a [routerLink]="['/synapse/the-last-word/dr-brian-pinto-residual-risk-remains-even-after-targeting-ldl']">
            <img src="/assets/new-assets/tips/images/Dr-Brian Pinto-the-last-word-medium.jpg" alt="Snack of the day">
          </a>
          <div class="tip_box_txt" style="position: initial;text-align:center">The Last Word</div>
        </div>
        </div>
        <div fxFlex="25%">
        <div class="tips_img mrg2">
          <a [routerLink]="['/synapse/the-last-word/dr-mk-das-polypill-is-an-extension-of-fixed-dose-combination']">
            <img src="/assets/new-assets/tips/images/Dr.M.K.Das-medium.jpg" alt="Snack of the day">
          </a>
          <div class="tip_box_txt" style="position: initial;text-align:center">The Last Word</div>
        </div>
          </div>
      <div fxFlex="25%">
        <div class="tips_img mrg2">
          <a [routerLink]="['/synapse/the-last-word/dr-jayagopal-reaching-hospital-in-time-is-a-problem-in-india']">
            <img src="/assets/new-assets/tips/images/Dr.Jayagopal-medium.jpg" alt="Snack of the day">
          </a>
          <div class="tip_box_txt" style="position: initial;text-align:center">The Last Word</div>
        </div>
      </div>
      <div fxFlex="25%">
        <div class="tips_img mrg2">
          <a [routerLink]="['/synapse/the-last-word/dr-hk-chopra-fast-food-kills-you-fast']">
            <img src="/assets/new-assets/styles/images/Dr.H.K.Chopra-on-fast-food-large.jpg" alt="HK Chopra">
          </a>
          <div class="tip_box_txt" style="position: initial;text-align:center">The Last Word</div>
        </div>
      </div>
    </div>
    </div>
</section>
<app-footer></app-footer>
