<nav class="navbar navbar-inverse nav_panel" style="width: 100%">
  <div class="container">
    <img src="assets/logo.png" height="50"/>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 style="text-align: center;padding-top: 15px;font-size: 30px;" class="text-center mrg_btm2">Welcome to the
        TheRightDoctors.com Admin Dashboard</h3>
      <p style="text-align: center;" class="mrg_btm text-center">What would you like to check:</p>
    </div>
  </div>
  <div flex fxLayout="row" fxLayout.xs="column">

    <div fxFlex="33" class="col-md-4 mrg_btm">
      <a href="/admin/articles">
        <div class="dashboard_box"><h4>Articles/ Videos</h4></div>
      </a>
    </div>

    <div fxFlex="33" class="col-md-4 mrg_btm">
      <a href="/admin/categories">
        <div class="dashboard_box"><h4>Categories/ Segments</h4></div>
      </a>
    </div>

    <div fxFlex="33" class="col-md-4 mrg_btm">
      <a href="/admin/events">
        <div class="dashboard_box"><h4>Events</h4></div>
      </a>
    </div>
  </div>
  <div flex fxLayout="row" fxLayout.xs="column">
    <div fxFlex="33" class="col-md-4 mrg_btm">
      <a href="/admin/images">
        <div class="dashboard_box"><h4>Images (Presentations, Slideshows and Gallery)</h4></div>
      </a>
    </div>

    <div fxFlex="33" class="col-md-4 mrg_btm">
      <a href="/admin/doctors">
        <div class="dashboard_box"><h4>Doctors</h4></div>
      </a>
    </div>

    <div fxFlex="33" class="col-md-4 mrg_btm">
      <a href="/admin/patients">
        <div class="dashboard_box"><h4>Patients</h4></div>
      </a>
    </div>
  </div>
  <div flex fxLayout="row" fxLayout.xs="column">
    <div fxFlex="33" class="col-md-4 mrg_btm">
      <a href="/admin/users">
        <div class="dashboard_box"><h4>Users</h4></div>
      </a>
    </div>

    <div fxFlex="33" class="col-md-4 mrg_btm">
      <a href="/admin/transactions">
        <div class="dashboard_box"><h4>Transactions</h4></div>
      </a>
    </div>

    <div fxFlex="33" class="col-md-4 mrg_btm">
      <a href="/admin/logs">
        <div class="dashboard_box"><h4>Logs</h4></div>
      </a>
    </div>
  </div>
  <div flex fxLayout="row" fxLayout.xs="column">
    <div fxFlex="33" class="col-md-4 mrg_btm">
      <a href="/admin/eventimages">
        <div class="dashboard_box"><h4>Events Images</h4></div>
      </a>
    </div>

    <div fxFlex="33" class="col-md-4 mrg_btm">
      <a href="/admin/Doctor-Details">
        <div class="dashboard_box"><h4>Doctor Details (Admin)</h4></div>
      </a>
    </div>

    <div fxFlex="33" class="col-md-4 mrg_btm">
      <a href="https://docs.therightdoctors.com/">
        <div class="dashboard_box"><h4>Documentation</h4></div>
      </a>
    </div>
  </div>
  <div flex fxLayout="row" fxLayout.xs="column">
    <div fxFlex="33" class="col-md-4 mrg_btm">
      <a href="/docs">
        <div class="dashboard_box"><h4>Docs</h4></div>
      </a>
    </div>
  </div>

</div>




