<app-nav></app-nav>
<div class="mrg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="about_title mrg_btm2">Get in Touch</h5>

        <p class="txt mrg_btm">We'd love to hear from you. Have questions? Need support?
          Want to share feedback?
        </p>
        <p class="txt mrg_btm">E-mail us at info@therightdoctors.com<br/>
          You will hear from our Customer Loyalty Team.</p>

        <div class="mrg_btm"></div>
        <span>See more about us</span><br>
        <div class="mrg_btm"></div>
        <p class="txt mrg_btm">
          Follow us on Twitter <br>
          <a href="https://twitter.com/therightdoctors"><img
            src="https://storage.googleapis.com/web-assets/images/logos/t.png" border="0"
            height="15">@therightdoctors</a>
        </p>
        <p class="txt mrg_btm">
          Be a Fan on Facebook<br>
          <a href="https://www.facebook.com/therightdoctors/"><img border="0" height="15"
                                                                   src="https://storage.googleapis.com/web-assets/images/logos/f.png">
            Facebook.com/therightdoctors</a>
        </p>
        <!-- <p class="txt mrg_btm">
          Join TM at Google+<br>
          <a href="https://plus.google.com/+TheRightDoctors/posts"><img border="0" height="15"
                                                                        src="https://storage.googleapis.com/web-assets/images/logos/gp.png">
            plus.google.com/+TheRightDoctors </a>
        </p> -->
        <p class="txt mrg_btm">
          Connect with us on Linkedin <br>
          <a href="https://www.linkedin.com/company/therightdoctors-com"><img border="0" height="15"
                                                                              src="https://storage.googleapis.com/web-assets/images/logos/l.png">
            Linkedin.com/therightdoctors-com </a>
        </p>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
