<app-nav></app-nav>

<div class="mrg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="about_title mrg_btm2">About TheRightDoctors</h5>

        <span>TheRightDoctors is a cloud-based platform that digitizes the engagement between doctors and patients and offers tools to both.</span>
        <div class="mrg_btm"></div>
        <p class="txt mrg_btm">Adherence and Access are the problems we are trying to solve.<br></p>

        <p class="txt mrg_btm"> More than fifty percent of patients suffering from chronic diseases do not take their
          meds.<br>
        </p>

        <p class="txt mrg_btm">Doctors do not have access to ingestion data for medications they have prescribed.<br>
        </p>
        <p class="txt mrg_btm">
          Delivery of actionable insights from medical research has not changed in decades.Our Medical Content App keeps
          doctors updated with Insights from the World's Best Medical Minds. Panel Discussions, Talks and Key Take
          Away's videos which impact their day to day clinical practice.
        </p>
        <p class="txt mrg_btm">
          Medical consultations currently are mostly based on personal visits. Even for follow ups. Access to your
          doctor becomes a challenge after leaving the out patient department or post discharge from hospital. Wouldn't
          it be nice if patients can connect with their own doctor for any follow up questions or a follow up consult
          without having to physically travel . Right from the comfort of their home / office / anywhere. Our Digital
          Patient Management app enables patients to send a request to their own doctors for non emergency consultations
          at the touch of a button.
        </p>
        <p class="txt mrg_btm">
          Our automated systems collect real time protocol driven patient data and remind patients for medication they
          need to take long after they have left the doctor’s chamber. This enables doctors to take data driven
          decisions on subsequent visits.
        </p>
        <p class="txt mrg_btm">Our services help patients lead healthier lives by reminding them for every med they need
          to take. Doctors are able to better serve new and existing patients and enhance their level of care by being
          digitally accessible.</p>
        <p class="txt mrg_btm">
          Our Adherence tools will enable data driven decisions and build a foundation for machine learning and
          artificial intelligence capabilities which will enable doctors to deliver better patient care.
        </p>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
