<!-- <app-nav></app-nav> -->
<div class="layer1">
    <div class="container" style="height:100%;">
      <div fxLayout.lt-md="column" fxLayout.gt-sm="row" style="height:100%;">
        <div fxFlex.lt-md="100%" fxFlex.gt-sm="50%"  style="height:100%;">
          <div fxLayout="column" class="mob-img">
            <h4 style="font-weight: bold;">TheRightDoctors</h4>
            <h3>Insights from The World's Best Medical Minds.</h3>
            <p class="para1">Your subscription supports our mission to bring you the latest updates, views, opinions and guidelines from across leading medical specialties.</p>
            <p class="para2"><s>270</s>₹60/month</p>
            <p class="pay">You can cancel anytime.</p>
            <!-- <button mat-flat-button><a  style="color: black !important;" [routerLink] = "['/subscription-login']">Subscribe</a></button> -->
          <button mat-flat-button type="button" style="background-color: #3f51b5;color:#fff;font-weight: bold;" [routerLink]="['/subscription-login']">Subscribe</button>
            <!-- <p class="stu-un"><a [routerLink] = "['/subscription-login']">Student? Get a special rate • Interested in digital + print?</a></p> -->
            <div fxLayout="row" fxLayoutAlign="center center">
                <!-- <img src="assets/subs2.png"> -->
            </div>
            <p class="para3"><b>No commitment required. Cancel anytime.</b></p>
            <p class="para4">Your payment method will automatically be charged in advance every 30 days. You will be charged the introductory rate for the introductory period, and thereafter will be charged the standard rate. All subscriptions renew automatically. You can cancel anytime. Mobile apps are not supported on all devices. These offers are not available for current subscribers. Other restrictions and taxes may apply. Offers and pricing are subject to change without notice.</p>
        </div>
      </div>
      <div fxFlex.lt-md="100%" fxFlex.gt-sm="50%">
          <div fxLayoutAlign="end center" style="height:100%;" class="desk-img">
              <!-- <img src="assets/subs2.png"> -->
          </div>
      </div>
    </div>
  </div>
  