<div class="mailer">
    <div class="container" style="padding:0px;">
        <div fxLayout="row">
            <!-- <img src="https://storage.googleapis.com/web-assets/quiz/rssdipartnerlogo.jpg" style="width:100%;"> -->
            <div fxLayout="row" class="aoc1" style="background-color:#68e1d5;width:100%;padding-top:30px;"> 
              <div fxFlex="30%" fxFlex.gt-sm="20%" fxLayoutAlign="center center">
                <img src="https://storage.googleapis.com/web-assets/aoc-mumbai/aoc-mumbai.jpg" style="width:100px;height:70px;">
              </div>
              <div fxFlex="20%" fxFlex.gt-sm="30%" fxLayoutAlign="center center">
                <h6 style="font-weight: bolder;font-size: 10px;color:#04306f;">PRESENTS</h6>
              </div>
              <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center start" style="padding-left:10px;">
                <p style="color:#04306f;font-weight: bold;">20<sup>th</sup>&nbsp;Annual Conference</p>
                <h5 style="color:#fd2378;font-weight: bolder;font-family: 'Titillium Web', sans-serif !important;">"HEART DISEASES<br><span style="font-size:18px;">IN WOMEN"</span></h5>
                <p style="color:#04306f;font-size: 10px;font-weight: bold;">11th & 12th January 2020 Taj Santacruz, Mumbai.</p>
              </div>
          </div>
        </div>
    <div fxLayout="row" style="padding:20px 16px;" fxLayoutAlign="center center">
        <img src="https://storage.googleapis.com/web-assets/aoc-mumbai/For%20Web-02.png" style="width:80%;">
    </div>
    <div fxLayout="row" style="padding:0px 16px 20px 16px;" fxLayoutAlign="center center">
        <h5 style="font-size:24px;font-weight: bold;color:#04306f;">Welcome to the AOC 2020</h5>
    </div>
    <div fxLayout="column" style="padding:0px 16px 20px 16px;">
        <h6 style="font-size: 16px;color:#000;padding-bottom:10px;">Dear Delegates,</h6>
        <p style="font-size: 16px;color:#000">This year's theme at AOC-2020 is 'Health Diseases in women'. Click the link below to catch Live Updates and Live Streaming.</p>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" style="padding-top:20px;padding-bottom: 20px;">
            <a [routerLink]="['/AOC-2020-Live-Updates']">
            <button mat-flat-button style="background-color:#04306f;">Live Updates</button></a>
            <a [routerLink]="['/live']"> <button mat-flat-button style="background-color:#04306f;">Live Streaming</button></a>
        </div>
        <h6 style="color:#000;font-weight: bold;text-align:center; font-size: 18px">Dr. Dev B Pahlajani,</h6>
        <h6 style="color:#000;text-align:center; font-size: 18px">Organizing Chairman</h6>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" style="padding:0px 16px;">
        <img src="https://storage.googleapis.com/web-assets/footer/Trd%20Logo.png" style="width:170px;height:70px;">
    </div>
    <div fxLayout="row" style="padding:0px 16px 20px 16px;">
        <p style="font-size:11px;">TheRightDoctors, a Google Launchpad Digital Health StartUp, is one of the leaders in production and dissemination of Medical Information. They bring Insights from the World's Best Medical Minds to digital audiences worldwide across leading digital and social media platforms. Contact us at cs@therightdoctors.com for your upcoming conference / CME / Workshop / Live Surgeries.</p>
    </div>
    <!-- <div fxLayout="row" style="padding:0px 16px 20px 16px;">
        <div fxFlex="25%" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
            <img src="https://storage.googleapis.com/web-assets/images/tctindianext/youtube2.png" style="width:25px;height:25px;">
            <p style="font-size: 8px;color:#000;">YOUTUBE</p>
        </div>
        <div fxFlex="25%" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                <img src="https://storage.googleapis.com/web-assets/social-media-icons/facebook.png"  style="width:25px;height:25px;">
                <p style="font-size: 8px;color:#000;">FACEBOOK</p>
        </div>
        <div fxFlex="25%" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                    <img src="https://storage.googleapis.com/web-assets/social-media-icons/twitter.png"  style="width:25px;height:25px;">
             <p style="font-size: 8px;color:#000;">TWITTER</p>
        </div>
        <div fxFlex="25%" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
            <img src="https://storage.googleapis.com/web-assets/social-media-icons/linkedin.png" style="width:25px;height:25px;">
            <p style="font-size: 8px;color:#000;">LINKED IN</p>
        </div>
    </div> -->
    <div fxLayout="row" style="padding:0px 16px;">
            <div fxFlex="20%" fxLayout="column">
              <div fxLayout="row"><p style="font-size:10px;color:#000;margin-bottom: 10px;font-weight: bold;">Powered by:</p></div>
              <div fxLayout="row" fxLayoutAlign="center center"><img style="width:100%" src="https://storage.googleapis.com/web-assets/footer/google%20cloud%20platform%20(1).png"></div>
            </div>
            <div fxFlex="3%"></div>
            <div fxFlex="77%" fxLayout="column">
              <div fxLayout="row"><p style="font-size:10px;color:#000;font-weight: bold;">Awards and Recognitions:</p></div>
              <div fxLayout="row">
                <div fxFlex="25%" fxLayoutAlign="center center"><img src="https://storage.googleapis.com/web-assets/footer/awars01.png" style="width:100%;"></div>
                <div fxFlex="25%" fxLayoutAlign="center center"><img src="https://storage.googleapis.com/web-assets/footer/1000awards.png" style="width:100%;"></div>
                <div fxFlex="25%" fxLayoutAlign="center center"><img src="https://storage.googleapis.com/web-assets/footer/SBC_global_logo-L-2.png" style="width:100%;"></div>
                <div fxFlex="25%" fxLayoutAlign="center center"><img src="https://storage.googleapis.com/web-assets/footer/startup.png" style="width:100%;"></div>
              </div>
            </div>
          </div>
</div>
</div>
