<app-nav></app-nav>
<div class="container" >
<br>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center" style="clear:both" class="mar-top-mobile">
    <!--<div fxFlex="30%">
    <a [routerLink]="['/podcast/worldhotday']" class="TN-item"
       style="background-image:url('../../assets/img/Special Page.jpg'); background-image-size: 300px;">
      <div class="pd-place-mouter">
        <div class="pd-place-outer">
        </div>
      </div>
    </a>
  </div>-->
    <div fxFlex="30%">
      <a [routerLink]="['/podcast-event/rssdi-ahmedabad-2018']" class="TN-item"
         style="background-image:url('../../assets/RSSDI-Podcast-Revised.jpg'); background-image-size: 300px;">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>

    <div fxFlex="30%">
      <a [routerLink]="['/podcast-event/dr-ulhas-pandurangi-fifteenth-annual-electrocardiology-course-basics-and-beyond-madras-medical-mission-2018']" class="TN-item"
         style="background-image:url('../../assets/ECG.jpg'); background-image-size: 300px;">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>

    <div fxFlex="30%">
      <a [routerLink]="['/podcast-event/dr-ulhas-pandurangi-sixth-live-cardiac-electrophysiology-workshop-madras-medical-mission-2018']" class="TN-item"
         style="background-image:url('../../assets/6th LIVE CARDIAC.jpg'); background-image-size: 300px;">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>


    <div fxFlex="30%">
      <a [routerLink]="['/podcast-event/aicog-2018']" class="TN-item"
         style="background-image:url('../../assets/AICOG.jpg'); background-image-size: 300px;">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>



    </div>


<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center" style="clear:both">
  <div fxFlex="30%">
    <a [routerLink]="['/podcast-event/stemi-india-lucknow-2018']" class="TN-item"
       style="background-image:url('../../assets/STEMI1.jpg'); background-image-size: 300px;">
      <div class="pd-place-mouter">
        <div class="pd-place-outer">
        </div>
      </div>
    </a>
  </div>

  <div fxFlex="30%">
    <a [routerLink]="['/podcast-event/wcce-2017']" class="TN-item"
       style="background-image:url('../../assets/Jaipur.jpg'); background-image-size: 300px;">
      <div class="pd-place-mouter">
        <div class="pd-place-outer">
        </div>
      </div>
    </a>
  </div>
  <div fxFlex="30%">
    <a [routerLink]="['/podcast-event/csi-2017']" class="TN-item"
       style="background-image:url('../../assets/Kolkata.jpg'); background-image-size: 300px;">
      <div class="pd-place-mouter">
        <div class="pd-place-outer">
        </div>
      </div>
    </a>
  </div>
  <div fxFlex="30%">
    <a [routerLink]="['/podcast-event/wccicc-2017']" class="TN-item"
       style="background-image:url('../../assets/WCCICC.jpg'); background-image-size: 300px;">
      <div class="pd-place-mouter">
        <div class="pd-place-outer">
        </div>
      </div>
    </a>
  </div>
</div>

</div>


<app-footer></app-footer>