<div class="background-know">
 
  <div class="container" >
    <div fxLayout="row" fxLayout.lt-md="column" >
      <div fxFlex="10">
      </div>
      <div fxFlex="80" class="page-content-sliders">

          
      <div *ngIf="event == 'post-event-branded-app'"> 
      <ng-template ngFor let-item [ngForOf]="createRange(35)" let-currentIndex="index+1">
      <img src="https://storage.googleapis.com/web-assets/presentations-2019/PostEvent-Presentation/Slide{{currentIndex}}.PNG" >
      </ng-template>
      </div>
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-ossicon-tv'"> 
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/OSSICON/Slide{{currentIndex}}.PNG" >
        </ng-template>
        </div>

      <div *ngIf="event == 'knowledge-partner-proposal-services'"> 
        <ng-template ngFor let-item [ngForOf]="createRange(26)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/knowledge-partner-services/Slide{{currentIndex}}.PNG" >
        </ng-template>
        </div>
        
        <div *ngIf="event == 'digital-knowledge-partner-services'"> 
          <ng-template ngFor let-item [ngForOf]="createRange(26)" let-currentIndex="index+1">
          <img src="https://storage.googleapis.com/web-assets/presentations-2019/knowledge-partner-services/Slide{{currentIndex}}.PNG" >
          </ng-template>
          </div>

        <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-your-conference-tv'"> 
          <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
          <img src="https://storage.googleapis.com/web-assets/presentations-2019/branding-presentation-for-your-conference-tv/Slide{{currentIndex}}.PNG" >
          </ng-template>
          </div>
       
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-asacon-tv'"> 
      <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
      <img src="https://storage.googleapis.com/web-assets/presentations-2019/ASACON-2019/Slide{{currentIndex}}.PNG" >
      </ng-template>
      </div>


      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-icran-ntsi-tv'"> 
      <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
      <img src="https://storage.googleapis.com/web-assets/presentations-2019/ICRAN-NTSI/Slide{{currentIndex}}.PNG" >
      </ng-template>
      </div>
      
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-cidaap-tv'"> 
      <ng-template ngFor let-item [ngForOf]="createRange(29)" let-currentIndex="index+1">
      <img src="https://storage.googleapis.com/web-assets/presentations-2019/CIDAAP/Slide{{currentIndex}}.PNG" >
      </ng-template>
      </div>
     
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-csi-tv'"> 
      <ng-template ngFor let-item [ngForOf]="createRange(29)" let-currentIndex="index+1">
      <img src="https://storage.googleapis.com/web-assets/presentations-2019/CSI-2019/Slide{{currentIndex}}.PNG" >
      </ng-template>
      </div>
  
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-esicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(29)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ESICON-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>
      
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-rssdi-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/RSSDI-ppt/RSSDi2019Proposal/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-isacon-tv-odisha'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
          <img src="https://storage.googleapis.com/web-assets/presentations-2019/ISACON-Odisha/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-upasicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
          <img src="https://storage.googleapis.com/web-assets/presentations-2019/UPASICON-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-surgicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
          <img src="https://storage.googleapis.com/web-assets/presentations-2019/SURGICON-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>
  
      <div *ngIf="event == 'soapccon-tv-hyderabad-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/SOAPCCON-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div> 
      
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-usicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/USICON-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-neurovascon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/Neurovascon-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-iascon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/IASCON-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>
      
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-isacon-tv-bengaluru'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ISACON-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-aicog-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/AICOG-2020/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>
      
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-amasicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/AMISICON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>
 
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-glaucoknow-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/GLAUCOKNOW%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'acrsicon-tv-srinagar-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ACRSICON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-aioc-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/AIOC%202020/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-gujasicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/GUJASICON/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-jasicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/JASICON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-kscasion-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/KSCASICON%202020%20tv/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-apicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/APICON%202020/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'dfsicon-tv-coimbatore-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/DFSICON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'iancon-tv-hyderabad-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/IANCON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'iasgcon-tv-new-delhi-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/IASGCON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>


      <div *ngIf="event == 'ifascon-tv-new-delhi-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/IFASCON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>


      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-ioacon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/IOACON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>


      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-iria-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/IRIA%202020/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-isbp-and-pdsi-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ISB%20and%20PDSI/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-isnacc-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ISNACC/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'pedicon-tv-chennai-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/PEDICON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-posicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/posicon%202020/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-vsicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/VSICON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-criticare-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/Critical-care-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-ispae-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ISPAE-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-anciapp-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ANCIAPP2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-wirco-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/WIROC%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-apsicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/APSICON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      
      <div *ngIf="event == 'asricon-tv-kanyakumari-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ASRICON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-iactacon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/IACTACON%202020/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-icccon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ICCCON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-vaicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/VAICON%202020/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>
      
      <div *ngIf="event == 'skullbasecon-tv-tamilnadu-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/Skullbasecon/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-ezusicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/EZUSI%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-iages-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(27)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/IAGES-%202020/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'cigicon-tv-mumbai-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/CIGICON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-ancipscon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ANCIP-%202020/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-asiraj-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ASIRAJ-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'iaci-tv-jaipur-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/IACI%20-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-iactscon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/IACTSCON-%202020/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-iracon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/iracon%20-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-isacon-tv-amritsar'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ISACON%202019-Amritsar/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'isacon-tv-vadodara-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ISACON-%20VADODARA/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'wzusicon-tv-rajkot-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/WZUSICON-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-echoindia-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/Echo%20India/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-iapscon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/IAPSCON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-isncon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ISNCON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-pericon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/PERICON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-neurologyupdatemumbai-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/Neurology%20Update%20Mumbai/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'inshlt-tv-delhi-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/INSHLT/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-isacon-tv-kerala'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ISACON%20kerala%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-aansim-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/AANSIM%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-mpsicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/MPSICON%202020/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-dermacon-tv-pune-proposal'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/Dermacon-2020/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>

      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-mahapedicon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/Mahapedicon%20%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-c2d2-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/C2D2/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-gcdc-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/GCDC%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-iactscme-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/IACTS%20CME/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-isecon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ISECON-2019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-asacon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ASACON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>
      <div *ngIf="event == 'branding-and-sponsorship-opportunity-for-isarcon-tv'">
        <ng-template ngFor let-item [ngForOf]="createRange(28)" let-currentIndex="index+1">
        <img src="https://storage.googleapis.com/web-assets/presentations-2019/ISARCON%202019/Slide{{currentIndex}}.PNG" >
        </ng-template>
      </div>


      </div>
      <div fxFlex="10">
      </div>
 </div>
 </div>
 


 
