<app-nav></app-nav>
<!-- event banner -->
<img style="width: 100%;" src="/assets/new-home-page/single/images/dr.manish_verma.jpg">
<!-- event banner// -->

<!-- incon -->
<section class="back2">
  <section class="container">

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

      <div fxFlex="100%">
        <h2 class="main_heading mrg_btm">In Conversation<span class="hdg_line"></span></h2>
      </div>
    </div>

    <div class="mrg_btm">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <!--<div class="col-md-12 col-sm-12 col-xs-12">-->

        <div fxFlex="100%">
          <div class="panel_light_grey border_yellow">
            <a [routerLink]="['/in-conversation/dr-manish-verma-with-dr-jain-and-dr-geeta-on-the-big-bp-survey']">
              <img
                src="https://storage.googleapis.com/web-assets/images/events/csicardiacprevent2015/thumbnails/Dr.Jain_DrGeeta/Dr.Jain_DrGeeta-original.jpg"
                alt="Dr. Manish Verma">
              <div class="pdg1"><h4 class="hd4"> The Great India BP Survey: 1.8 lakh people covered in a single day <br><span
                class="color_orange">Dr. Manish Verma</span></h4>


                <!--<div class="clearfix"></div>-->
              </div>
              <!--  <div class="clearfix"></div>-->
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>
</section>
<!--highlights//-->


<!--interview-->
<section class="back2">
  <section class="container">

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
      <div fxFlex="100">
        <h2 class="main_heading mrg_btm">The Interview<span class="hdg_line"></span></h2>
      </div>
    </div>

    <div class="mrg_btm">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
        <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
        <div fxFlex="50%" fxLayoutGap="10px">

          <div fxLayout="row" fxLayout.lt-sm="column">

            <div class="mrg_btm">
              <!--<div fxLayout="row">-->
              <div class="panel_three panel_light_grey brder_top">

                <a
                  [routerLink]="['/the-interview/dr-c-venkata-s-ram-director-of-apollo-institute-for-blood-pressure-managemant-apollo-blood-pressure-clinics-hyderabad-on-central-aortic-pressure']">
                  <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="25%"><img
                      src="https://storage.googleapis.com/web-assets/images/events/csicardiacprevent2015/thumbnails/DrCVenkataSRam/DrCVenkataSRam-medium.jpg" style="height:88px;width:100%"/>
                    </div>
                    <div fxFlex="75%">
                      <div class="pdg_rt pdgrt">
                        <h5 class="hd5">How is Central Aortic Pressure
                           <br><span class="color_orange">Dr. C Venkata S Ram</span></h5>
                      </div>
                    </div>
                  </div>
                </a>

              </div>
            </div>
          </div>
          <!--<div class="clearfix"></div>-->
          <!-- </div>-->
          <!--</div>-->
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
            <div class="mrg_btm">
              <div class="panel_three panel_thin_grey border_orange">
                <!--<div class="row">-->
                <a
                  [routerLink]="['/the-interview/dr-ramakrishnan-additional-professor-department-of-cardiology-aiims-delhi-reperfusion-the-biggest-priority']">
                  <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="25%"><!--<div class="col-md-4 col-sm-4 col-xs-4">--><img
                      src="https://storage.googleapis.com/web-assets/images/wccpci_images/thumbnails/Dr.S.Ramakrishnan_1/Dr.S.Ramakrishnan_1-medium.jpg" style="height:88px;width:100%"/>
                    </div>
                    <div fxFlex="75%">
                      <div class="pdg_rt pdgrt"><h5 class="hd5"><span
                        class="color_white">Life after a heart attack</span> <br> <span class="color_orange"><b>Dr S Ramakrishnan</b></span>
                      </h5>
                      </div>
                    </div>
                  </div>
                </a>
                <!--</div>-->
              </div>
              <!--<div class="clearfix"></div>-->
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
            <div class="mrg_btm">
              <div class="panel_three panel_light_grey brder_top">
                <!--<div class="row">-->
                <a
                  [routerLink]="['/the-interview/dr-s-c-manchanda-sr-consultant-cardiologist-sir-ganga-ram-hospital-new-delhi-yoga-the-complete-way-of-life']">
                  <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="25%"><img
                      src="https://storage.googleapis.com/web-assets/images/wccpci_images/thumbnails/DrSCManchanda/DrSCManchanda-large.jpg" style="height:88px;width:100%"/>
                    </div>
                    <div fxFlex="75%">
                      <div class="pdg_rt pdgrt"><h5 class="hd5 "> Meditation and yoga: An
                        <br><span class="color_orange"><b>Dr. S C Manchanda</b></span></h5>
                      </div>
                    </div>
                  </div>
                </a>
                <!--</div>-->
              </div>
              <!--<div class="clearfix"></div>-->
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
            <div class="panel_three panel_thin_grey border_orange">
              <!--<div class="row">-->
              <a [routerLink]="['/the-interview/dr-j-s-hiremath-ruby-hall-clinic-pune']">
                <div fxLayout="row" fxLayoutGap="10px">
                  <div fxFlex="25%"><img
                    src="https://storage.googleapis.com/web-assets/images/wccpci_images/thumbnails/DrJSHiremath/DrJSHiremath-medium.jpg" style="height:88px;width:100%"/>
                  </div>
                  <div fxFlex="75%">
                    <div class="pdg_rt pdgrt"><h5 class="hd5"><span class="color_white"> An Overview of New Oral </span><br><span
                      class="color_orange"><b>Dr. J S Hiremath</b></span></h5>
                    </div>
                  </div>
                </div>
              </a>
              <!--</div>-->
            </div>
          </div>
          <!-- </div>-->
        </div>


        <div fxFlex="50%">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
            <div fxFlex="50%">
              <div class="mrg_top_m">
                <div class="panel_four panel_thin_grey brder_top">
                  <!--<div class="row">-->
                  <a [routerLink]="['/the-interview/dr-r-r-kasliwal-medanta-the-medicity-gurgaon']">
                    <!--<div class="col-md-12 col-sm-12 col-xs-12">--><img
                    src="https://storage.googleapis.com/web-assets/images/wccpci_images/thumbnails/DrKasliwal/DrKasliwal-medium.jpg">
                    <!--</div>-->
                    <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                    <div class="pdg1"><h4 class="hd4 "><span class="color_white">Central Aortic Pressure: An important measure of heart disease</span>
                    </h4>
                      <h4 class="hd4"><span class="color_orange">Dr RR Kasliwal</span></h4>
                    </div><!--</div>-->
                  </a>
                  <!--</div>-->
                </div>
              </div>
            </div>

            <div fxFlex="50%">
              <div class="mrg_top_m">
                <div class="panel_four panel_light_grey brder_top">
                  <!--<div class="row">-->
                  <a [routerLink]="['/the-interview/dr-sandeep-bansal-safdarjung-hospital-delhi']">
                    <!--<div class="col-md-12 col-sm-12 col-xs-12">--><img
                    src="https://storage.googleapis.com/web-assets/images/wccpci_images/thumbnails/DrSandeepbansal/DrSandeepbansal-medium.jpg"
                    alt="Dr.Sandeep Bansal Sr. Cardiologist and HOD at Safdarjung Hospital at Delhi on Management of STEMI in difficult Situations">
                    <!--</div>-->
                    <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                    <div class="pdg1"><h4 class="hd4">Management
                      of STEMI with renal failure...</h4>
                      <h5 class="hd5 ">Angioplasty not a possibility for a STEMI patient...
                      </h5>
                      <span class="color_orange">Dr. Sandeep Bansal</span>
                    </div><!--</div>-->
                  </a>
                  <!--</div>-->
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <!--
    <div class="mrg_btm">
    <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="panel_six panel_light_grey border_yellow">
    <a href="https://therightdoctors.com/live-case/dr-m-s-hiremath-live-case-care-hospital-hyderabad">
    <img src="https://storage.googleapis.com/web-assets/images/CSI-NIC_Images/LiveCases/Hiremath/Hiremath-large.jpg" alt="Dr. MS Hiremath, Interventional Cardiologist, Care Hospital Hyderabad">
    <div class="pdg1"><h4 class="hd4"><span class="color_orange">Dr. MS Hiremath and Dr.Narasa Raju</span>/ Cross Over Stent From Care Hospital...</h4>


    <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    </a>
    </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="panel_six panel_light_grey border_yellow">
    <a href="https://therightdoctors.com/live-case/dr-m-s-hiremath-live-case-care-hospital-hyderabad">
    <img src="https://storage.googleapis.com/web-assets/images/CSI-NIC_Images/LiveCases/Hiremath/Hiremath-large.jpg" alt="Dr. MS Hiremath, Interventional Cardiologist, Care Hospital Hyderabad">
    <div class="pdg1"><h4 class="hd4"><span class="color_orange">Dr. MS Hiremath and Dr.Narasa Raju</span>/ Cross Over Stent From Care Hospital...</h4>


    <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    </a>
    </div>
    </div>
    </div>
    </div> -->
  </section>
</section>
<!--interview//-->

<section class="back3">
  <section class="container">

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <div fxFlex="100%">
        <h2 class="main_heading2 mrg_btm">More Videos<span class="hdg_line"></span></h2>
      </div>
    </div>

    <div class="mrg_btm">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex="25%">
          <div class="panel_five panel_dark_grey">
            <!--<div class="row">-->
            <a
              [routerLink]="['/the-speakers/dr-ankit-bansal-asst-professor-cardiology-coronary-noflow-desperate-times-desperate-measures']">
              <!--<div class="col-md-12 col-sm-4 col-xs-4">--><img
              src="https://storage.googleapis.com/web-assets/optimized-images/the-speakers/DrAnkitBansal-medium.jpg"
              alt="Dr. Ankit Bansal, Asst Prof. Cardiology, GB Pant Hospital, New Delhi, Coronary No-Flow : Desperate Times Desperate Measures">
              <!--</div>-->
              <!--<div class="col-md-12 col-sm-8 col-xs-8">--><h5 class="hd5 color_white"> CSI NIC 2016 -
              TTT@NIC:Complication Session...<br><span class="color_yellow">Dr. Ankit Bansal</span></h5>
              <!--</div>-->
            </a>
            <!--</div>-->
          </div>
        </div>

        <div fxFlex="25%">
          <div class="mrg_top_m">
            <div class="panel_five panel_dark_grey">
              <!--<div class="row">-->
              <a [routerLink]="['/the-speakers/dr-lohitashwa-s-b-cardiologist-uterine-artery-embolization']">
                <!--<div class="col-md-12 col-sm-4 col-xs-4">--><img
                src="https://storage.googleapis.com/web-assets/optimized-images/the-speakers/DrLohitashwaSB-medium.jpg"
                alt="Dr. Lohitashwa S B, Cardiologist, St John's Medical College, Bangalore ,Uterine Artery Embolization ">
                <!--</div>-->
                <!--<div class="col-md-12 col-sm-8 col-xs-8">--><h5 class="hd5 color_white"> Exotic Vascular and
                Structural Interventions...<br><span class="color_yellow">Dr. Lohitashwa S B</span></h5>
                <!--</div>-->
              </a>
              <!--</div>-->
            </div>
          </div>
        </div>

        <div fxFlex="25%">
          <div class="mrg_top_m">
            <div class="panel_five panel_dark_grey">
              <!--<div class="row">-->
              <a
                [routerLink]="['/the-speakers/dr-Chiung-Jen-Wu-directorof-asian-interventional-cardiovascular-therapeutics-b-v-s-implantation-complication']">
                <!--<div class="col-md-12 col-sm-4 col-xs-4">--><img
                src="https://storage.googleapis.com/web-assets/optimized-images/the-speakers/DrChiung-JenWu-medium.jpg"
                alt="Dr.Chiung-Jen Wu, Director of Asian Interventional Cardiovascular Therapeutics Shin Kong Hospital, Taipei, Taiwan, BVS Implantation Complication ">
                <!--</div>-->
                <!--<div class="col-md-12 col-sm-8 col-xs-8">--><h5 class="hd5 color_white"> CSI NIC 2016 - TTT@NIC:
                Complication Session...<br><span class="color_yellow">Dr. Chiung Jen Wu</span></h5>
                <!--</div>-->
              </a>
              <!--</div>-->
            </div>
          </div>
        </div>

        <div fxFlex="25%">
          <div class="mrg_top_m">
            <div class="panel_five panel_dark_grey">
              <!--<div class="row">-->
              <a
                [routerLink]="['/the-speakers/dr-mona-bhatia-hod-radiology-and-imaging-use-of-cardiac-mri-in-planning-coronary-interventions']">
                <!--<div class="col-md-12 col-sm-4 col-xs-4">--><img
                src="https://storage.googleapis.com/web-assets/images/CSI-NIC_Images/Speakers/images/DrMonaBhatia/DrMonaBhatia-medium.jpg"
                alt="Dr. Mona Bhatia, HOD-Radiology and Imaging,Fortis Escorts Heart Institute, New Delhi, Use of Cardiac MRI in Planning Coronary Interventions">
                <!--</div>-->
                <!--<div class="col-md-12 col-sm-8 col-xs-8">--><h5 class="hd5 color_white"> It has survived not only
                five It has survived...<br><span class="color_yellow">Dr. mona Bhatia</span></h5>
                <!--</div>-->
              </a>
              <!--</div>-->
            </div>
          </div>

        </div>

        <!-- <div class="clearfix"></div>-->
      </div>
    </div>
  </section>
</section>


<app-footer></app-footer>
