
<div [formGroup]="lecturesGroup">
  <div class="form-group">
    <label>Lecture Title</label>
    <input type="text" class="form-control" formControlName="topic_title">
  </div>
  <div class="form-group">
    <label>Video URL</label>
    <input type="text" class="form-control" formControlName="full_vid_url">
  </div>

  <div class="form-group">
    <label>PDF URL</label>
    <input type="text" class="form-control" formControlName="pdf">
  </div>

  <div class="form-group">
    <label>Duration of Video</label>
    <input type="text" class="form-control" formControlName="duration">
  </div>
</div>
