<app-nav></app-nav>

<section class="back2">
  <section class="container">
    <div>
      <h2 class="main_heading">Images<span class="hdg_line"></span></h2>
    </div>
    <mat-grid-list cols="4"   fxShow="true" fxShow.sm="false" fxShow.xs="false" class="gap-part" style="padding-bottom: 0px;">
      <ng-template ngFor let-item [ngForOf]="createRangeImages(19)" let-i="index+1">
        <mat-grid-tile fxShow="true" fxShow.sm="false" fxShow.xs="false" style="padding-top:0px;" >
          <div class="tips_img mrg2">
            <a [routerLink]="['/specials/wccpci-2016/wccpcigallery/'+[i]]">
              <img src="https://storage.googleapis.com/web-assets/images/wccpci_2016/images/24-09-16-culture 1/Inugration 1/{{i}}/{{i}}-medium.jpg" alt="">
            </a>
          </div>
        </mat-grid-tile>
      </ng-template>
    </mat-grid-list>
    <ng-template ngFor let-item [ngForOf]="createRangeImages(19)" let-i="index">
      <div class="tips_img mrg2" fxShow="false" fxShow.xs="true"  fxShow.lt-md="true">
        <a [routerLink]="['/specials/wccpci-2016/wccpcigallery/'+i]">
          <img src="https://storage.googleapis.com/web-assets/images/wccpci_2016/images/24-09-16-culture 1/Inugration 1/{{i}}/{{i}}-medium.jpg" alt="">
        </a>
      </div>
    </ng-template>

    <mat-grid-list cols="4"   fxShow="true" fxShow.sm="false" fxShow.xs="false" class="gap-part" style="padding-bottom: 0px;">
      <ng-template ngFor let-item [ngForOf]="createRangeImages(64)" let-i="index">
        <mat-grid-tile fxShow="true" fxShow.sm="false" fxShow.xs="false" style="padding-top:0px;" >
          <div class="tips_img mrg2">
            <a [routerLink]="['/specials/wccpci-2016/wccpcigallery1/'+i]">
              <img src="https://storage.googleapis.com/web-assets/images/wccpci_2016/images/24-09-16-culture 1/Wccpci 2nd day programme 1/{{i}}/{{i}}-medium.jpg" alt="">
            </a>
          </div>
        </mat-grid-tile>
      </ng-template>
    </mat-grid-list>
    <ng-template ngFor let-item [ngForOf]="createRangeImages(64)" let-i="index">
      <div class="tips_img mrg2" fxShow="false" fxShow.xs="true"  fxShow.lt-md="true">
        <a [routerLink]="['/specials/wccpci-2016/wccpcigallery1/'+i]">
          <img src="https://storage.googleapis.com/web-assets/images/wccpci_2016/images/24-09-16-culture 1/Wccpci 2nd day programme 1/{{i}}/{{i}}-medium.jpg" alt="">        </a>
      </div>
    </ng-template>


    <mat-grid-list cols="4"   fxShow="true" fxShow.sm="false" fxShow.xs="false" class="gap-part" style="padding-bottom: 0px;">
      <ng-template ngFor let-item [ngForOf]="createRangeImages(20)" let-j="index">
        <mat-grid-tile fxShow="true" fxShow.sm="false" fxShow.xs="false" style="padding-top:0px;" >
          <div class="tips_img mrg2">
            <a [routerLink]="['/specials/wccpci-2016/wccpcigallery2/'+j]">
              <img src="https://storage.googleapis.com/web-assets/images/wccpci_2016/images/24-09-16-culture 1/Flag hosting 23.09.16 1/{{j}}/{{j}}-medium.jpg" alt="">
            </a>
          </div>
        </mat-grid-tile>
      </ng-template>
    </mat-grid-list>
    <ng-template ngFor let-item [ngForOf]="createRangeImages(20)" let-j="index">
      <div class="tips_img mrg2" fxShow="false" fxShow.xs="true"  fxShow.lt-md="true">
        <a [routerLink]="['/specials/wccpci-2016/wccpcigallery2/'+j]">
          <img src="https://storage.googleapis.com/web-assets/images/wccpci_2016/images/24-09-16-culture 1/Flag hosting 23.09.16 1/{{j}}/{{j}}-medium.jpg" alt="">
        </a>
      </div>
    </ng-template>


    <mat-grid-list cols="4"   fxShow="true" fxShow.sm="false" fxShow.xs="false" class="gap-part" style="padding-bottom: 0px;">
      <ng-template ngFor let-item [ngForOf]="createRangeImages(53)" let-k="index">
        <mat-grid-tile fxShow="true" fxShow.sm="false" fxShow.xs="false" style="padding-top:0px;" >
          <div class="tips_img mrg2">
            <a [routerLink]="['/specials/wccpci-2016/wccpcigallery3/'+k]">
              <img src="https://storage.googleapis.com/web-assets/images/wccpci_2016/images/24-09-16-culture 1/25.09.2016  1/{{k}}/{{k}}-medium.jpg" alt="">
            </a>
          </div>
        </mat-grid-tile>
      </ng-template>
    </mat-grid-list>
    <ng-template ngFor let-item [ngForOf]="createRangeImages(53)" let-k="index">
      <div class="tips_img mrg2" fxShow="false" fxShow.xs="true"  fxShow.lt-md="true">
        <a [routerLink]="['/specials/wccpci-2016/wccpcigallery3/'+k]">
          <img src="https://storage.googleapis.com/web-assets/images/wccpci_2016/images/24-09-16-culture 1/25.09.2016  1/{{k}}/{{k}}-medium.jpg" alt="">
        </a>
      </div>
    </ng-template>


  </section>
</section>
<app-footer></app-footer>