<h2 class="page-heading">Upload Doctor's Registration Sheet</h2>
<section class="content">
      <!--<button href="">upload files</button>-->
      <form class="form-part" #f="ngForm">

         

        <h4>Upload File</h4>
        <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" 
        (change)="fileChangeListener($event)" accept=".csv" />
        
        <br>
          <br>
        <button (click)="submit()" type="button" mat-raised-button color="primary" >submit</button>
      </form>
<small style="color:#ff0000;">*Using choose file, Upload only .csv, .txt, or .vcf files, then click on submit button</small>

