<app-nav></app-nav>
<div class="container marg-top-sender" style="clear: both">
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex="20"></div>
    <div fxFlex="60">
      <h2 class="mail-sender">Mail Sender</h2>

      <mat-card style="padding:10px;">

          <mat-form-field class="example-full-width">
              <mat-label>Select Mailer</mat-label>
              <mat-select [(ngModel)]="mailer" id="mailer_id" name="mailer_id" #pass_out='ngModel' required>
                <mat-option *ngFor="let k of mailers_list"  value={{k}}>
                  {{k}}
                </mat-option>
              </mat-select>
              </mat-form-field>
              <br>
              <br>
        <form class="form" id="add_to_me">

      

          <mat-form-field class="example-full-width">
            <mat-label>Select Event </mat-label>
            <mat-select [(ngModel)]="event" id="as" name="as" #as='ngModel' required>
              <mat-option (click)="get_cat(event)" *ngFor="let q of event_list" value={{q}}>{{q}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <p>
            <input type="checkbox" name="allTrades" [value]="event_list" (change)="SelectAllEvents($event)">Select All
          </p><br>
          <ng-container *ngFor="let q of event_list; let i=index">
            <div>
              {{i+1}} ) <input type="checkbox" name="trades" [checked]="q.selected" [(ngModel)]="q.selected"
                (change)="changeTradesByCategory($event)">
              <p>{{ q[0] }} </p>
            </div>
          </ng-container> -->
          <div *ngIf="event">
            <mat-form-field class="example-full-width">
              <mat-label>Select Category</mat-label>
              <mat-select [(ngModel)]="category" id="pass_out" name="pass_out" #pass_out='ngModel' required>
                <mat-option *ngFor="let k of cat_list" (click)="get_doctors(category,event)" value={{k}}>
                  {{k}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="pp">
            <p>
              <input type="checkbox" name="allNonTrades" [value]="all_doc" (change)="SelectAll($event)">Select All
            </p><br>
            <ng-container *ngFor="let ntrd of all_doc; let i=index">
              <div>
                {{i+1}} ) <input type="checkbox" name="nontrades" [checked]="ntrd.selected" [(ngModel)]="ntrd.selected"
                  (change)="changeTradesByCategory($event)">
                <p>{{ ntrd.sub_headline }} : </p>
                {{ ntrd.headline }}
              </div>
            </ng-container>
          </div>
          <!-- <mat-form-field class="example-full-width">
  <input matInput type="email_list" placeholder="Enter Email" name="email" [(ngModel)]="email" >
</mat-form-field> -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter From Address name - Without spaces 
    (ex: Event Organising Secretary name - Dr_PC_Manoria)" name="from_name" [(ngModel)]="from_name">
          </mat-form-field>
          <!-- <button mat-flat-button color="primary" (click) = "moveToNextPage()"> Send </button> -->
        </form>
      </mat-card>
      <button (click)="addCode()">Add New Event</button>
      <button (click)="addCode_new()" class="btn btn-primary" style="float: right;" >Next Page</button>
    </div>
    <div fxFlex="20"></div>
  </div>
</div>
<!-- <app-footer></app-footer> -->