
<div class="new-screen13">
  <div class="container" fxLayout="column">
    <h5 class="all-head">Specials</h5>
    <div fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutGap.lt-md="16px" fxLayoutGap.gt-sm="20px">
      <div fxFlex.lt-md="100%" fxFlex.gt-sm="50%" class="spl-wid1">
        <div fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="20px" fxLayoutGap.lt-sm="16px">
          <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%" class="spl-wid2">
            <div fxLayout="column" class="total-brdr-all">
              <a href="https://therightdoctors.com/specials/stemi-india-lucknow-2018">
                <div fxLayout="column">
                    <img alt="Revolution Talk" src="../../assets/new-home-page/single/images/rssdi-ahmedabad-2018.jpg">
                </div>
              </a>
              <div fxLayout="column" fxLayoutAlign="center center" class="padd-btm-all">
                <p class="internal-updates-head">Wockhardt RSSDI tv 2018 </p>
                <b class="display_none_m">
                  <a class="internal-dr-name" [routerLink]="['/rssdi-ahmedabad-2018/the-interview/wockhardt-rssdi-tv-dr-banshi-saboo-rssdi-sets-a-new-benchmark-with-its-innovations-and-delegate-participation']" style="text-decoration: none;color:#e27520;">Dr. Banshi Saboo</a><br>
                  <a class="internal-dr-name" [routerLink]="['/rssdi-ahmedabad-2018/the-interview/wockhardt-rssdi-tv-dr-rk-sahay-hydroxychloroquine-and-anti-inflammatory-foods-are-important-add-ons-to-diabetes-management']" style="text-decoration: none;color: #e27520;">Dr. Rajeev Chawla</a><br>
                  <a class="internal-dr-name" [routerLink]="['/rssdi-ahmedabad-2018/the-interview/wockhardt-rssdi-tv-dr-rk-sahay-hydroxychloroquine-and-anti-inflammatory-foods-are-important-add-ons-to-diabetes-management']" style="text-decoration: none;color: #e27520;">Dr. Rakesh Kumar Sahay</a><br>
                  <a class="internal-dr-name" [routerLink]="['/rssdi-ahmedabad-2018/the-interview/wockhardt-rssdi-tv-dr-rajkumar-lalwani-hypoglycemia-and-hydration-very-important-if-diabetics-who-consume-alcohol-are-on-sglt2-inhibitors']" style="text-decoration: none;color: #e27520;">Dr. Raj Kumar Lalwani</a><br>
                  <a class="internal-dr-name" [routerLink]="['/rssdi-ahmedabad-2018/the-interview/wockhardt-rssdi-tv-dr-ah-zagar-tackling-the-most-important-cause-of-diabetes']" style="text-decoration: none;color: #e27520;">Dr. AH Zargar</a>
                </b>
              </div>
              <a [routerLink]="['specials/rssdi-ahmedabad-2018']"><button mat-flat-button class="bg-whiite">See all&nbsp;<span class="material-icons">arrow_forward</span></button></a>
            </div>
          </div>
          <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%" class="spl-wid3">
            <div fxLayout="column" class="total-brdr-all">
              <a href="https://therightdoctors.com/specials/stemi-india-lucknow-2018">
                <div fxLayout="column">
                    <img alt="Revolution Talk" src="assets/new-home-page/single/images/EmcureCSItv.jpg">
                </div>
              </a>
              <div fxLayout="column" fxLayoutAlign="center center" class="padd-btm-all">
                <p class="internal-updates-head">CSI </p>
                <b class="display_none_m">
                  <a class="internal-dr-name" [routerLink]="['csi-2017/the-interview/emcure-csi-tv-dr-amal-kumar-patient-presenting-after-4-hrs-of-chest-pain-to-hospital-with-no-cath-lab-facility']" style="text-decoration: none;color:#e27520;">Dr. Amal Banerjee</a><br>
                  <a class="internal-dr-name" [routerLink]="['csi-2017/the-interview/emcure-csi-tv-dr-ananda-bagchi-ldl-c-less-than-40percent-mg-is-it-harmful-or-not']" style="text-decoration: none;color: #e27520;">Dr. Ananda Bagchi</a><br>
                  <a class="internal-dr-name" [routerLink]="['csi-2017/the-interview/emcure-csi-tv-dr-sameer-srivastava-management-of-diastolic-dysfunction']" style="text-decoration: none;color: #e27520;">Dr. Sameer Srivastava</a><br>
                  <a class="internal-dr-name" [routerLink]="['csi-2017/the-interview/emcure-csi-tv-dr-saumitra-ray-management-of-nstemi']" style="text-decoration: none;color: #e27520;">Dr. Saumitra Ray</a><br>
                  <a class="internal-dr-name" [routerLink]="['csi-2017/the-interview/emcure-csi-tv-dr-k-sarat-chandra-overview-of-the-scientific-feast-at-csicon-2017-from-the-chairperson-scientific-committee-and-president-elect']" style="text-decoration: none;color: #e27520;">Dr. KS Chandra</a>
                </b>
              </div>
              <a [routerLink]="['specials/csi-2017']" ><button mat-flat-button class="bg-whiite">See all&nbsp;<span class="material-icons">arrow_forward</span></button></a>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex.lt-md="100%" fxFlex.gt-sm="50%" class="spl-wid4">
        <div fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="20px" fxLayoutGap.lt-sm="16px">
          <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%" class="spl-wid5">
            <div fxLayout="column" class="total-brdr-all">
              <a href="https://therightdoctors.com/specials/stemi-india-lucknow-2018">
                <div fxLayout="column">
                    <img alt="Revolution Talk" src="https://storage.googleapis.com/web-assets/images/AICOG2018/aicogtv/336X235.jpg">
                </div>
              </a>
              <div fxLayout="column" fxLayoutAlign="center center" class="padd-btm-all">
                <p class="internal-updates-head">AICOG </p>
                <b class="display_none_m">
                  <a class="internal-dr-name" [routerLink]="['aicog-2018/the-interview/emcure-aicog-tv-dr-dilip-dutta-post-partum-hemorrhage']" style="text-decoration: none;color:#e27520;">Dr. Dilip Dutta</a><br>
                  <a class="internal-dr-name" [routerLink]="['aicog-2018/the-interview/emcure-aicog-tv-dr-rishma-pai-PCOS-and-infertilty']" style="text-decoration: none;color: #e27520;">Dr. Rishma Pai</a><br>
                  
                  <a class="internal-dr-name" [routerLink]="['aicog-2018/the-interview/emcure-aicog-tv-dr-queen-aditya-iron-in-pregnancy']" style="text-decoration: none;color: #e27520;">Dr. Queen Aditya</a><br>

                  <a class="internal-dr-name" [routerLink]="['aicog-2018/the-interview/emcure-aicog-tv-dr-sheela-v-mane-PPH-predict-prepare-handle']" style="text-decoration: none;color: #e27520;">Dr. Sheela V Mane </a><br>
                  <a class="internal-dr-name" [routerLink]="['aicog-2018/the-interview/emcure-aicog-tv-dr-sukanta-mishra-non-descent-vaginal-hysterectomy']" style="text-decoration: none;color: #867a70;">Dr. Sukanta Misra</a>
                </b>
              </div>
              <a [routerLink]="['specials/aicog-2018']"><button mat-flat-button class="bg-whiite">See all&nbsp;<span class="material-icons">arrow_forward</span></button></a>
            </div>
          </div>


          <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%" class="spl-wid5">
            <div fxLayout="column" class="total-brdr-all">
              <a href="https://therightdoctors.com/specials/stemi-india-lucknow-2018">
                <div fxLayout="column">
                    <img alt="Revolution Talk" src="../../assets/new-home-page/images/STEMI.jpg">
                </div>
              </a>
              <div fxLayout="column" fxLayoutAlign="center center" class="padd-btm-all">
                <p class="internal-updates-head">Stemi India </p>
                <b class="display_none_m">
                  <a class="internal-dr-name" [routerLink]="['stemi-india-lucknow-2018/the-interview/stemi-india-tv-dr-ajit-mullasari-lack-of-funding-and-infrastructure-big-reason-for-stemi-deaths-in-india']" style="text-decoration: none;color:#e27520;">Dr. Ajit Mullasari</a><br>
                  <a class="internal-dr-name" [routerLink]="['stemi-india-lucknow-2018/the-interview/stemi-india-tv-dr-brahmajee-nallamothe-cath-lab-a-boon-for-stemi-patients']" style="text-decoration: none;color: #e27520;">Dr. Brahmajee Nallamothe</a><br>
                  <a class="internal-dr-name" [routerLink]="['stemi-india-lucknow-2018/the-interview/stemi-india-tv-dr-dharam-khumbani-troponin-integral-in-diagnoses-and-prognosis-of-acute-mi']" style="text-decoration: none;color: #e27520;">Dr. Dharam Khumbani</a><br>
                  <a class="internal-dr-name" [routerLink]="['stemi-india-lucknow-2018/the-interview/stemi-india-tv-dr-kamal-kumar-sawlani-physician-s-role-in-stemi-management']" style="text-decoration: none;color: #e27520;">Dr. Kamal Kumar</a><br>
                  <a class="internal-dr-name" [routerLink]="['stemi-india-lucknow-2018/the-interview/stemi-india-tv-dr-naveen-garg-difference-between-coronary-intervention-and-femoral-intervention']" style="text-decoration: none;color: #e27520;">Dr. Naveen Garg</a>
                </b>
              </div>
        <a [routerLink]="['specials/stemi-india-lucknow-2018']">      <button mat-flat-button class="bg-whiite">See all&nbsp;<span class="material-icons">arrow_forward</span></button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="new-screen-survey">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.lt-md="0%" fxFlex.gt-sm="80%" fxLayout="column" class="border-survey" >
      <div class="col-md-12" class="nopad-d">
        <div class="wid-10">
          <img src="/assets/new-home-page/single/images/logo.jpg">
        </div>
        <div class="wid-90 mrg_btm no_mrg_m" fxLayoutAlign="center center" fxLayout="column">
          <h2 class="acadamic" style="text-align: center;">ACADEMIC NEEDS OF DM CARDIOLOGY STUDENTS</h2>
          <p class="trd-p-survey">TheRightDoctors Survey</p>

        </div>
      </div>
      <div fxLayout.lt-md="column" fxLayout.gt-sm="row">
      <div fxFlex.lt-md="100%" fxFlex.gt-sm="60%" class="survey-content" style="" fxLayout="column" fxLayoutAlign="start center">
        <p>What is the current major source of academic knowledge for you?
          Do you use any online resources ? What is your biggest academic need ?
          Who are the domain experts globally whose lectures you would like to watch? </p>
      </div>
      <div fxFlex.lt-md="100%" fxFlex.gt-sm="40%" fxLayoutAlign="center center">
          <a style ="color:#fff;" [routerLink]="['/survey-100119']" > <button mat-raised-button style="background-color: #cc1318!important;color:#fff;">START</button></a>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>


