<!-- 
<form id="form2" (ngSubmit)="onSubmit()">
  <div class="col-sm-12">
    <h4>Enter the Following to Receieve the Link </h4>

    <div class="form-horizontal" role="form">

      <div class="form-group">
        <label class="control-label col-sm-2" for="f_video_url">Headline </label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="f_video_image" [(ngModel)]="video.headline" name="f_video_image" placeholder="Video Image URL">
        </div>
      </div>
       <div class="form-group">
          <label class="control-label col-sm-2" for="f_video_url">YouTube Embed Url </label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="f_video_url" [(ngModel)]="video.embed_link" name="f_video_url" placeholder="Video URL">
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="f_video_headline"> Description </label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="f_video_headline" [(ngModel)]="video.description" name="f_video_headline" placeholder="HEadline">
            </div>
        </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form> -->
