<div class="background-know">
  <div class="container">
      <div  class="content-knowledge">
        <div class="logo-part-kpp">
          <div fxLayout="row">
            <div fxFlex="20">
        <img src="/assets/new-home-page/single/images/logo.jpg" alt="TheRightDoctors Logo">
            </div>
            <div fxFlex="80">
             <!--<h2>Insights from the World's Best Medical Minds</h2>-->
            </div>
          </div>
        </div>
        <h3 class="page-heading">Our Services</h3>
        <ul>
          <h4 style="color:#ca1317;">Before the event:</h4>
          <li style="padding-bottom: 5px;">We make Curtain Raiser Videos and promote the upcoming event on digital / social media channels to drive awareness among attendees and industry.</li>
            <!--<div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">-->
              <!--<div fxFlex="" class="imag-thumb">-->
                <!--<img src="https://storage.googleapis.com/web-assets/images/AICOG2018/aicogtv/336X235.jpg">-->
                <!--<p><b>Emcure AICOG tv 2018, Bhubaneswar</b></p>-->
                <!--Link:<a href="https://goo.gl/HtnAd3 " target="_blank"> https://goo.gl/HtnAd3 </a>-->
              <!--</div>-->
              <!--<div fxFlex="" class="imag-thumb">-->
                <!--<img src="/assets/new-assets/single/images/asianpacific.jpg" style="height:178px;">-->
                <!--<p><b>APVIC Promo 2016</b></p>-->
                <!--Link:<a href="https://goo.gl/wWiSUw " target="_blank"> https://goo.gl/wWiSUw</a>-->
              <!--</div>-->
              <!--<div fxFlex="" class="imag-thumb">-->
                <!--<img src="/assets/new-home-page/single/images/wcce2017-specials.jpg">-->
                <!--<p><b>Theme Song of World Congress of Cardio Echo 2017</b></p>-->
                <!--Link:<a href="https://goo.gl/HtnAd3 " target="_blank"> https://goo.gl/HtnAd3 </a>-->
              <!--</div>-->
            <!--</div>-->
          <h4 style="color:#ca1317;">During the event :</h4>
          <li><b>Daily Video Highlights </b>(Videos are processed 60,000 times faster than text by the brain) and Key Takeaways multiple times a day allowing delegates to catch up with parallel scientific sessions. These will be<b> shared on Whatsapp groups of attending delegates.</b></li>
            <li><b>Speaker Videos: </b>40-60 second personal videos of key foreign and Indian faculty which are displayed on LED screen as the speaker reaches the podium.</li>
              <li><b>A High Definition TV studio</b> where key faculty interviews are recorded where they discuss recent developments, key takeaways and their impact on day to day clinical practice.</li>
              <li><b>Live Streaming</b> of the event.</li>
              <li><b>Synapse:</b> making all still photos and presentations accessible on smartphones</li>
              <li><b>Digital Multimedia Versions</b> of Selected Papers/ Posters.</li>
              <li>TTailor made <b>android/ iOS content app</b> for the conference.</li>
              <li><b>Transcript</b> for all Lectures and Interviews.</li>
          <li>Smaller Edits of Lectures and Interviews under the <b>OneMoreThing</b> series highlighting <b>key takeaways</b>.</li>
              <li><b>The Speaker</b> series where edits of all speaker talks are search engine optimized for digital channels.</li>
              <li><b>Text based Article / Feature writing services</b> under the authorship of faculty/ speakers from the presentations and talks presented by them at the conference..</li>
              <li><b>Digital Infographics of Quotations</b> by key faculty at the conference for digital/ social media.</li>
          <br/>
  
          <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/images/Dr.Naresh%20Trehan.jpg">
              <p><b>Message On World Heart Day: Dr.Naresh Trehan, Chairman Medanta</b></p>
              Link:<a href="https://bit.ly/39hsoFA" target="_blank"> https://bit.ly/39hsoFA</a>
            </div>
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/images/AICOG2018/CN_PUrandare1/dr-cn-purandare.jpg">
              <p><b>Cesarean Section Rates Going Up For Various Reasons : Dr. CN Purandare, FIGO President</b></p>
              Link:<a href="https://bit.ly/2vJUVWr" target="_blank"> https://bit.ly/2vJUVWr</a>
            </div>
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/images/SixSThumbnails/DrAshokSeth_SixS.jpg">
              <p><b>Dr.Ashok Seth: Say No to Six S Campaign supported by SANOFI at Cardiac Prevent</b></p>
              Link:<a href="https://bit.ly/2UBoBh1" target="_blank"> https://bit.ly/2UBoBh1 </a>
            </div>
          </div>
          <br/>
          <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/videos/Works_OMT/thumbnails/Dr.Samin%20SharmaBrian%20Pinto/Dr.Samin%20SharmaBrian%20Pinto-large.jpg">
              <p><b>Chronic Total Occlusion: Dr.Samin Sharma, Mount Sinai and Dr.Brian Pinto, WCCICC tv</b></p>
              Link:<a href="https://bit.ly/2UgYfle" target="_blank"> https://bit.ly/2UgYfle</a>
            </div>
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/images/AICOG2018/jaideep_malhotra1/dr-jaideep-malhotra.jpg">
              <p><b>Give Her Wings And Let Her Soar : Dr.Jaideep Malhotra, President, FOGSI</b></p>
              Link:<a href="https://bit.ly/2WFeev3" target="_blank">https://bit.ly/2WFeev3</a>
            </div>
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/images/AICOG2018/PC_Mahapatra/dr-PC-Mahapatra.jpg">
              <p><b>Scripting The Success Story Of AICOG 2018: Dr.PC Mahapatra</b></p>
              Link:<a href="https://bit.ly/2Jaftue" target="_blank"> https://bit.ly/2Jaftue  </a>
            </div>
          </div>
          <br/>
          <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
            <div fxFlex="" class="imag-thumb">
              <img src="https://i1.ytimg.com/vi/xQXjF43tOHA/hqdefault.jpg" style="width:100%;height: 190px;">
              <p><b>STEMI - Meaning, Causes And Treatment: Dr.Rishi Sethi</b></p>
              Link:<a href="https://bit.ly/3dqvoCC" target="_blank">  https://bit.ly/3dqvoCC </a>
            </div>
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/images/events/csicardiacprevent2015/thumbnails/Dr.ShivKumar.jpg">
              <p><b>What Is The BP Of Your City?: Dr.J Shiv Kumar</b></p>
              Link:<a href="https://bit.ly/3dAVbIC" target="_blank">https://bit.ly/3dAVbIC</a>
            </div>
            <div fxFlex="" class="imag-thumb">
              <img src="https://i.ytimg.com/vi/N_AJUlnBW9U/maxresdefault.jpg">
              <p><b>A Beginner's Introduction To Echocardiography: Dr. SK Parashar</b></p>
              Link:<a href="https://bit.ly/2xXobtx" target="_blank">https://bit.ly/2xXobtx  </a>
            </div>
          </div>
          <br>
          <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/images/CSI-2018/dr-prafulla-kelkar.jpg">
              <p><b>Welcome to CSICON 2018: Dr. Prafulla Kerkar</b></p>
              Link:<a href="https://bit.ly/2wr2VMC" target="_blank"> https://bit.ly/2wr2VMC  </a>
            </div>
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/images/IHJ_Awards.jpg">
              <p><b>Indian Heart Journal Awards</b></p>
              Link:<a href="https://bit.ly/2Jc8Qb0" target="_blank"> https://bit.ly/2Jc8Qb0</a>
            </div>
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/images/tvtrd_compressed_images/20-07-2018/images/HK-chopraMonaRamakrishnan/HK-chopraMonaRamakrishnan-large.jpg">
              <p><b>The Big Debate: Role of CT Angio in Predicting Cardiac Risk:</b></p>
              Link:<a href="https://bit.ly/2QCiFmL " target="_blank"> https://bit.ly/2QCiFmL </a>
            </div>
          </div>
          <br/>
          <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
            <div fxFlex="" class="imag-thumb">
              <img src="https://i.ytimg.com/vi/bm_nSK5-Bdc/maxresdefault.jpg">
              <p><b>The Revolution Talk Series to create awareness about New Oral Anticoagulants in association with ZYDUS CADILA</b></p>
              Link:<a href="https://bit.ly/2J8CkXl" target="_blank">https://bit.ly/2J8CkXl </a>
            </div>
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/images/EMCURE_CSICON2017/CSItv2017/CSItv2017-large.jpg">
              <p><b>Emcure CSI tv 2017, Kolkata</b></p>
              Link:<a href="https://bit.ly/2WHrxeC" target="_blank"> https://bit.ly/2WHrxeC  </a>
            </div>
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/images/wcce2017_Images/HightlightsThumbnail/HightlightsThumbnail-large.jpg">
              <p><b>Highlights of WCCE tv at World Congress of Cardio Echo 2017 supported by GENWORKS, a WIPRO GE Invested Company</b></p>
              Link:<a href="https://bit.ly/39c1n6t" target="_blank">https://bit.ly/39c1n6t  </a>
            </div>
  
          </div>
          <br/>
  
          <h4 style="color:#ca1317;">After the event:</h4>
            <li>We collate all the content generated from the conference ie. Speaker Videos, TV Studio Interviews, Presentations, Posters and generate weekly newsletters which are mailed to a database of all attendees/ association members/members of referring doctor associations based on our mandate. (People forget 40% of what they learned in 20 minutes and 77% of what they learned in six days.)
            </li>
              <li>We create Whatsapp group of all the attendees / association memebers and share links of all the presntations interview video and speaker videos</li>
              <li>YouTube channel which will have all the video content generated during the event.The same is Search Engine Optimized to enable easy discovery</li>
        </ul>
        <p>The best strategy makes sure that the right communication gets directed at peers, referral doctors, and patients.</p>
        <p>Conferences/ Workshops/ CMEs offer the most efficient options to generate scientific content to stakeholders ultimately translating into better patient care</p>
        <ul>
          <h4 style="color:#ca1317;">Key take aways:</h4>
          <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
            <div fxFlex=""  class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/key-take-away-kpp/4.jpg "/>
            </div>
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/key-take-away/AjaySinha.jpg"/>
            </div>
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/key-take-away-kpp/1.jpg"/>
            </div>
          </div>
          <br/>
          <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
            <div fxFlex=""  class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/key-take-away-kpp/3.jpg"/>
            </div>
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/key-take-away-kpp/2.jpg"/>
            </div>
            <div fxFlex="" class="imag-thumb">
              <img src="https://storage.googleapis.com/web-assets/key-take-away/SameerSrivastava.jpg"/>
            </div>
          </div>
  
            <li>
                <b>Please click here to find out how TheRightDoctors can add value to your Medical Event :</b><br>
                <a href="https://bit.ly/2mFmLyb" target="_blank">https://bit.ly/2mFmLyb </a>
            </li>
        </ul><br>
        <p style="text-align: center;font-style:italic;font-size:16px;">May I request you for a time to set up a telecon to discuss this further.</p>
        <p style="text-align: center;font-style:italic;font-size:16px;">We look forward to hearing from you and a long and fruitful association.</p>
      </div>
  </div>
  </div>
  