<app-nav></app-nav>
<!-- event banner -->
<img style="width: 100%;" src="/assets/new-home-page/single/images/dr.rishi_jain.jpg">
<!-- event banner// -->

<!--interview-->
<div class="back2">
  <div class="container">

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

      <div fxFlex="100%">
        <h2 class="main_heading mrg_btm">The Interview<span class="hdg_line"></span></h2>
      </div>
    </div>

    <div class="mrg_btm">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

        <div fxFlex="50%">
          <div class="panel_four panel_dark_grey border_yellow">
            <!--<div class="row">-->
            <a
              [routerLink]="['/the-interview/glenmark-csi-tv-dr-ds-gambhir-interventional-cardiologist-noida-on-left-main-bifurcation-how-is-it-different']">
              <!--<div class="col-md-12 col-sm-4 col-xs-4">-->
              <img
                src="https://storage.googleapis.com/web-assets/images/the-interview/Dr-DS-Gambhir-on-how-is-left-main-bifurcation-different-from-any-other-part-of-coronary-treat/Dr-DS-Gambhir-on-how-is-left-main-bifurcation-different-from-any-other-part-of-coronary-treat.jpg">
              <!--</div>-->
              <!--<div class="col-md-12 col-sm-8 col-xs-8">-->
              <div class="pdg1 pdgrt">
                <h4 class="hd4 hd4_m color_white">Surgical options in left main artery stenosis...<br><span
                  class="color_yellow">Dr.DS Gambhir</span></h4>
              </div><!--</div>-->
            </a>
            <!--</div>-->
          </div>
        </div>


        <div fxLayout="25%">
          <div class="mrg_top_m">
            <div class="panel_four panel_dark_grey border_yellow">
              <!--<div class="row">-->
              <a
                [routerLink]="['/the-interview/glenmark-csi-tv-Dr-Anil-Kumar-Cardiologist-Mumbai-On-Invasive-Procedure-In-Non-High-Risk-Patients']">
                <!--<div class="col-md-12 col-sm-12 col-xs-12">--><img
                src="https://storage.googleapis.com/web-assets/images/the-interview/Dr-Anil-Kumar-on-should-we-do-invasive-procedure-in-non-high-risk-patients/Dr-Anil-Kumar-on-should-we-do-invasive-procedure-in-non-high-risk-patients.jpg">
                <!--</div>-->
                <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                <div class="pdg1 ">
                  <h4 class="hd4 color_white"> Invasive treatment only for high-risk...<br><span class="color_yellow">Dr. Anil kumar</span>
                  </h4>

                </div><!--</div>-->
              </a>
              <!--</div>-->
            </div>
          </div>
        </div>

        <div fxFlex="25%">
          <div class="mrg_top_m">
            <div class="panel_four panel_dark_grey border_yellow">
              <!--    <div class="row">-->
              <a
                [routerLink]="['/the-interview/glenmark-csi-tv-Dr-Viveka-Kumar-Interventional-Cardiologist-Saket-Delhi%20-On-The-Right-Window-Frame-For-Primary-PCI']">
                <!--<div class="col-md-12 col-sm-12 col-xs-12">--><img
                src="https://storage.googleapis.com/www.therightdoctors.com/imagesnvideos/Interview-videosnimages/Dr-Viveka-Kumar-latest-views-on-the-right-window-frame-for-primary-PCI-in-patients.jpg">
                <!--</div>-->
                <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                <div class="pdg1">
                  <h4 class="hd4 color_white">An Overview On The Right Window...<br><span class="color_yellow">Dr. Viveka Kumar</span>
                  </h4>

                </div><!--</div>-->
              </a>
              <!--</div>-->
            </div>
          </div>
        </div>

      </div>
      <!--<div class="clearfix"></div>-->
    </div>
  </div>


  <div class="mrg_btm">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

        <div fxFlex="25%">
          <div class="mrg_top_m">
            <div class="panel_four panel_dark_grey border_yellow">
              <!--<div class="row">-->
              <a
                [routerLink]="['/the-interview/csi-nic-tv-dr-p-k-goel-coronary-perforation']">
                <!--<div class="col-md-12 col-sm-12 col-xs-12">--><img
                src="https://storage.googleapis.com/www.therightdoctors.com/imagesnvideos/Interview-videosnimages/Dr.P.K.Goel-on-acute-myocardial-infarction.jpg"
                alt="dr ashok seth in conversation with dr alain cribier">
                <!--</div>-->
                <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                <div class="pdg1 "><h4 class="hd4 color_white">Heart Attack: A casualty in...<br><span
                  class="color_yellow">Dr.P.K.Goel</span><br></h4>

                </div><!--</div>-->
              </a>
            </div>
          </div>
        </div>

        <div fxFlex="25%">
          <div class="mrg_top_m">
            <div class="panel_four panel_dark_grey border_yellow">
              <!--<div class="row">-->
              <a
                [routerLink]="['/the-interview/glenmark-csi-tv-Dr-Arup-Das-Biswas-Interventional-Cardiologist-Kolkata-Heart-Failure-Management-In-Indians']">

                <!--<div class="col-md-12 col-sm-12 col-xs-12">--><img
                src="https://storage.googleapis.com/web-assets/images/the-interview/Dr-Arup-Das-Biswas-reasons-for-increase-in-heart-failure-in-indians/Dr-Arup-Das-Biswas-reasons-for-increase-in-heart-failure-in-indians.jpg">
                <!--</div>-->
                <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                <div class="pdg1"><h4 class="hd4 color_white">Managing heart failure : Prevention to Palliative<br><span
                  class="color_yellow">Dr. Arup Das Biswas</span></h4>
                  <h5 class="hd5 color_white"> Less than 1% of patients suffering a heart attack reach...</h5>
                </div><!--</div>-->
              </a>
            </div>
          </div>
        </div>

        <div fxFlex="50%">
          <div class="panel_four panel_dark_grey border_yellow">
            <!--<div class="row">-->
            <a
              [routerLink]="['/the-interview/Dr-Sandeep-Bansal-Cardiologist-New-Delhi-On-Hctz-Vs-Chlorthalidone']">
              <!--<div class="col-md-12 col-sm-4 col-xs-4">--><img
              src="https://storage.googleapis.com/www.therightdoctors.com/imagesnvideos/Interview-videosnimages/Dr.SandeepSethi-role-of-stem-cells-in-heart-failure.jpg">
              <!--</div>-->
              <!--<div class="col-md-12 col-sm-8 col-xs-8">-->
              <div class="pdg1 pdgrt">
                <h4 class="hd4 hd4_m color_white">Stem cells for heart failure: Hope or hype...<br><span
                  class="color_yellow">Dr. Sandeep Sethi</span></h4>
              </div><!--</div>-->
            </a>
            <!--</div>-->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- <div class="clearfix"></div>-->

<!--interview//-->

<section class="back3">
  <section class="container">

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

      <div fxFlex="100%">
        <h2 class="main_heading2 mrg_btm">More Videos<span class="hdg_line"></span></h2>
      </div>
    </div>

    <div class="mrg_btm">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

        <div fxFlex="25%">
          <div class="panel_five panel_dark_grey">
            <!--<div class="row">-->
            <a
              [routerLink]="['/the-interview/glenmark-csi-tv-Dr-I-Sathyamurthy-Interventional-Cardiologist-Chennai-On-Is-STEMI-In-Post-CABG-Patients-Common']">
              <!--<div class="col-md-12 col-sm-4 col-xs-4">--><img
              src="https://storage.googleapis.com/web-assets/images/the-interview/Dr-I-Sathyamurthy-latest-views-on-is-stemi-in-post-cabg-patients-common-in-current-practise/Dr-I-Sathyamurthy-latest-views-on-is-stemi-in-post-cabg-patients-common-in-current-practise.jpg">
              <!--</div>-->
              <!--<div class="col-md-12 col-sm-8 col-xs-8">--><h5 class="hd5 color_white">Déjà vu very rare for post
              bypass cases<br><span class="color_yellow">Dr. I Sathyamurthy</span></h5>
              <!--</div>-->
            </a>
            <!--</div>-->
          </div>
        </div>

        <div fxFlex="25%">
          <div class="mrg_top_m">
            <div class="panel_five panel_dark_grey">
              <!--<div class="row">-->
              <a
                [routerLink]="['/the-interview/glenmark-csi-tv-Dr-Tiny-Nair-Cardiologist-Trivandrum-On-The-Right-Thrombolytic-Agent-For-Indian-Aam-Admi']">
                <!--<div class="col-md-12 col-sm-4 col-xs-4">--><img
                src="https://storage.googleapis.com/web-assets/images/the-interview/Dr-Tiny-Nair-on-which-thrombolytic-agents-to-be-chosen-for-indian-aam-admi/Dr-Tiny-Nair-on-which-thrombolytic-agents-to-be-chosen-for-indian-aam-admi.jpg">
                <!--</div>-->
                <!--<div class="col-md-12 col-sm-8 col-xs-8">--><h5 class="hd5 color_white">New thrombolytic agents
                better than the older options<br><span class="color_yellow">Dr. Tiny Nair</span></h5>
                <!--</div>-->
              </a>
              <!--</div>-->
            </div>
          </div>
        </div>

        <div fxFlex="25%">
          <div class="mrg_top_m">
            <div class="panel_five panel_dark_grey">
              <!--<div class="row">-->
              <a
                [routerLink]="['/the-interview/glenmark-csi-tv-Dr-Brian-Pinto-Interventional-Cardiologist-Mumbai-On-Atherogenic-Diabetic-Dyslipidemia-In-Indians']">
                <!--<div class="col-md-12 col-sm-4 col-xs-4">--><img
                src="https://storage.googleapis.com/web-assets/images/the-interview/Dr-Brian-Pinto-latest-views-on-atherogenic-diabetic-dyslipidemia-in-indians/Dr-Brian-Pinto-latest-views-on-atherogenic-diabetic-dyslipidemia-in-indians.jpg">
                <!--</div>-->
                <!--<div class="col-md-12 col-sm-8 col-xs-8">--><h5 class="hd5 color_white">A review on Atherogenic
                Diabetic Dyslipidemia in Indians<br><span class="color_yellow"> Dr. Brian Pinto</span></h5>
                <!--</div>-->
              </a>
              <!--</div>-->
            </div>
          </div>
        </div>

        <div fxFlex="25%">
          <div class="mrg_top_m">
            <div class="panel_five panel_dark_grey">
              <!--<div class="row">-->
              <a
                [routerLink]="['/the-interview/glenmark-csi-tv-Dr-P-B-Jayagopal-Interventional-Cardiologist-Kerala-On-Non-Reperfused-Stemi-A-Challenge']">
                <!--<div class="col-md-12 col-sm-4 col-xs-4">--><img
                src="https://storage.googleapis.com/web-assets/images/the-interview/Dr-Jayagopal-on-how-big-is-the-problem-of-non-reperfused-stemi/Dr-Jayagopal-on-how-big-is-the-problem-of-non-reperfused-stemi.jpg">
                <!--</div>-->
                <!--<div class="col-md-12 col-sm-8 col-xs-8">--><h5 class="hd5 color_white">xHigher risk of repeat
                attack with non-reperfused STEMI<br><span class="color_yellow">Dr. Tiny Nair</span></h5>
                <!--</div>-->
              </a>
              <!--</div>-->
            </div>
          </div>

        </div>
        <!-- <div class="clearfix"></div>-->
      </div>
    </div>

  </section>
</section>
<app-footer></app-footer>
