<app-nav></app-nav>
<section class="back2">
   <h1 style="text-align: center;">Send Mailer For Knowledge Partner</h1>
 
   <div >
      <table border="1px">
         <tr>
            <th style="width: 200px">  <p>
                  <input type="checkbox" name="allNonTrades" [value]="model" (change)="SelectAll($event)">Select All
               </p></th>
            <th style="width: 200px">Id</th>
            <th style="width: 200px">Doctor Name</th>
            <th style="width: 200px">Event Name</th>
            <th style="width: 200px">Title</th>
            <th style="width: 200px">Event City</th>
            <th style="width: 200px">Event Start Date</th>
            <th style="width: 200px">Event End Date</th>
         </tr>
         <tr *ngFor="let event of model" class="center">
            <td style="width: 200px"><input type="checkbox" name="nontrades" [checked]="event.selected"
                  [(ngModel)]="event.selected" (change)="changeTradesByCategory($event)"></td>
            <td style="width: 200px">{{event['id']}} </td>
            <td style="width: 200px"> Dr. {{event['first_name']}} {{event['last_name']}} </td>
            <td style="width: 200px"> {{event['event_name']}} </td>
            <td style="width: 200px"> {{event['title']}} </td>
            <td style="width: 200px"> {{event['event_city']}} </td>
            <td style="width: 200px"> {{event['Event_Start_Date']}} </td>
            <td style="width: 200px"> {{event['Event_End_Date']}} </td>
         </tr>

      </table>

   </div>
   <div>
      <button (click)="send()" [disabled]="buttonDisabled" >Send</button>
   </div>
</section>
<section class="back3 post_footer_pdg">
   <section class="container">
      <div class="row">
         <div class="post_footer">
            <div class="col-md-6 col-sm-6  col-xs-12 text-left">
               <ul>
                  <li><a [routerLink]="['/terms-of-service']">Terms of Service</a></li>
                  <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
                  <li><a [routerLink]="['/disclaimer']">Disclaimer</a></li>
               </ul>
               <div class="clearfix"></div>
            </div>
            <div class="col-md-6 col-sm-6  col-xs-12 text-right text_left_m pad-text">
               © TheRightDoctors Network. All Rights Reserved
               <div class="clearfix"></div>
            </div>
         </div>
      </div>

   </section>
</section>