<h1>Presentation</h1>
<slideshow #slideshow
           (click)="check()"
           [height]="'400px'"
           [minHeight]="'400px'"
           [showArrows]="false"
           [imageUrls]="imagesUrls">

</slideshow>
<i class="fa fa-chevron-left" (click)="onPrevious()" style="margin-top: -215px;
    z-index: 9999;
    opacity: 0.99;float:left;color:white;font-size:40px;color: #3f51b5;
    padding: 10px;
    background: transparent;
    box-shadow: 1px 2px 3px black;"></i>
<i class="fa fa-chevron-right" (click)="onNext()" style="margin-top: -215px;
    z-index: 9999;
    opacity: 0.99;float:right;color:white;font-size:40px;color: #3f51b5;
    padding: 10px;
    background: transparent;
    box-shadow: 1px 2px 3px black;"></i>
<button (click)="onPrevious()">Previous</button>
{{current}} of {{imagesUrls.length}}
<button (click)="onNext()">Next</button>
<button (click)="check()">Change</button>