<!--startup logos-->
<section class="back2">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="mrg"><img src="/assets/new-home-page/single/images/launchpad.jpg" alt="launchpad"/></div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="mrg"><img src="/assets/new-home-page/single/images/berlin.jpg" alt="Berlin"/></div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="mrg"><img src="/assets/new-home-page/single/images/start_up_networks.jpg" alt="Start Up Network"/>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="mrg"><img src="/assets/new-home-page/single/images/naascom.jpg" alt="naascom"/></div>
      </div>
    </div>
  </div>
</section>
<!--startup logos//-->
