.example-form {
    width: 100%;
}

.example-full-width {
    width: 100%;
}
.example-form p{
    margin-bottom:0px;
}
.mat-form-field-wrapper {
    padding-bottom:10px;
}
.mar-top{
    margin-top:25px;
}
.media-head{
    background: #f8f8f8;
    text-align: center;
    padding: 5px;
    font-size: 23px;
    color: #3f51b5;
    margin-bottom: 15px;
}
.example-form{
    font-size:14px;
}
.upload-btn input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0px;
}
.upload-btn{
    line-height:28px;

}
.upload-btn a{
    color:#fff;
}
.tags-div{
    background:#f8f8f8;
    padding:10px;
    margin-top:10px;
}
.last-file{
    margin-top:15px;
    margin-bottom:8px;
}
.bg-transparent {
    background-color: transparent;
}

:host {
    height: 100%;
}

.photo {
    object-fit: contain;
}

.card {
    width: 20rem;
    margin: 0 auto;
}
.media-head{
    height: 135px;
    background: #3f51b5;
    position: relative;
    text-align: center;
}
.media-body{
    height: 200px;
    background: #ffff;
    position: relative;
    text-align: center
}
.icon-place{
    height: 100px;
    width: 100px;
    line-height: 110px;
    border-radius: 50%;
    background: #e8e8e8;
    position: absolute;
    bottom: -42px;
    left: 44%;
    z-index:999;
}
.sync-card-title{
    background: #3f51b5;
    text-align: center;
    padding: 5px;
    font-size: 23px;
    color: #ffff;
    line-height: 55px
}
.text-card-title{
    background: #ffff;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: #101010;
    line-height: 55px;
}
.card-title{
    color:#000;
}
.card-text{
    color:#000;
}
.question{
    font-size:16px;
    font-weight:600;
    color:#000;
    margin-top: 15px!important;
    margin-bottom: 10px!important;
    left: auto;
    text-align: left;
}
.boxes{
    font-size:14px;
    text-align: left;
}
.text-normal{
    background: #ffff;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: #666;
    line-height: 20px;
}

.upload-btn{
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,.2);
}

.custom-text{
    color:#000;
}

@media(max-width:768px){
    .marg-top-sender{
        clear: both;
        margin-top: 168px
    }}

@media(max-width: 550px){
    .sync-card-title {
        background: #3f51b5;
        text-align: center;
        padding: 0px;
        font-size: 14px;
        color: #ffff;
        line-height: 20px
    }
    
    
    .media-head{
        height: 100px;
        background: #3f51b5;
        position: relative;
        text-align: center;
    }
    .icon-place{
        height: 50px;
        width: 50px;
        line-height: 50px;
        border-radius: 50%;
        background: #e8e8e8;
        position: absolute;
        bottom: -27px;
        left: 37%;
        z-index: 1210;
    }
    .text-card-title {
        background: #ffff;
        font-size: 14px;
        color: #101010;
        margin-top: 24px !important;
        line-height: 23px !important;
        padding: 0px !important;
    }
}