<app-nav></app-nav>
<div class="main-content" style="">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-info text-center">
        <!-- <h4 class="card-title">Material Dashboard Heading</h4> -->
        <h1 style="font-family: 'Times New Roman', Times, serif; font-size:40px"><b>TheRightDoctors</b></h1>

        <p style="color : red">Insights from World's Best Medical Minds.</p>
      </div>
      <div class="card-body">
        <div id="typography">
          <div class="card-title">
            <h2>Frequently Asked Questions</h2>
          </div>


          <div class="card-body">

            <mat-accordion class="mat-expansion-demo-width">
              <mat-expansion-panel>
                <mat-expansion-panel-header style="font-size:relative">
                  <mat-panel-title style="font-size:relative">
                    1. What is a digital subscription?
                  </mat-panel-title>
                  <!-- <mat-panel-description>
                          This is a summary of the content
                        </mat-panel-description> -->
                </mat-expansion-panel-header>
                <br>
                <li style="font-size:relative">A digital subscription provides access to Right Doctors content. Each
                  subscription offers a different level of access.

                  Please note: Right Doctors apps are not supported on all devices. Right Doctors digital subscriptions
                  do not include e-reader editions (e.g., Kindle, Nook, Sony Reader, Kobo Reader), The Crossword or
                  Cooking. Additional restrictions apply.

                  Ready to subscribe? Check out our <a [routerLink]="['/plan']" routerLinkActive="active"
                    style=" color: blue ">current offers >></a></li>
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <div class="card-body">

            <mat-accordion class="mat-expansion-demo-width">
              <mat-expansion-panel>
                <mat-expansion-panel-header style="font-size:relative">
                  <mat-panel-title style="font-size:relative">
                    2. What if I don't want to subscribe, can I still read for free? </mat-panel-title>
                  <!-- <mat-panel-description>
                              This is a summary of the content
                            </mat-panel-description> -->
                </mat-expansion-panel-header>
                <br>
                <li style="font-size:relative">Visitors have free access to a limited number of articles (including blog
                  posts, slide shows and other multimedia features) on TheRightDoctors.com.

                  TheRightDoctors apps are free to download and install, and include some free content.</li>
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <div class="card-body">

            <mat-accordion class="mat-expansion-demo-width">
              <mat-expansion-panel>
                <mat-expansion-panel-header style="font-size:relative">
                  <mat-panel-title style="font-size:relative bold">
                    3. How are digital subscriptions billed?
                  </mat-panel-title>
                  <!-- <mat-panel-description>
                                This is a summary of the content
                              </mat-panel-description> -->
                </mat-expansion-panel-header>
                <br>
                <li style="font-size:relative">As a digital subscriber, you can pay via debit or credit card, PayPal, or PayZ. Your payment method will be charged automatically on a recurring basis. Your subscription will be renewed automatically, and you will be charged in advance of each billing cycle unless you cancel.

                  View the Right Doctors <a [routerLink]="['/plan']" routerLinkActive="active"
                  style=" color: blue ">plan >> </a>.</li>
              </mat-expansion-panel>
            </mat-accordion>
          </div>


          <div class="card-body">

            <mat-accordion class="mat-expansion-demo-width">
              <mat-expansion-panel>
                <mat-expansion-panel-header style="font-size:relative">
                  <mat-panel-title style="font-size:relative bold">
                    4. Can I get a digital subscription to the TheRightDoctors.com website only?                  </mat-panel-title>
                  <!-- <mat-panel-description>
                                This is a summary of the content
                              </mat-panel-description> -->
                </mat-expansion-panel-header>
                <br>
                <li style="font-size:relative">No. Digital subscription packages give you ongoing access to TheRightDoctors.com on any computer or device, plus Right Doctors apps.</li>
              </mat-expansion-panel>
            </mat-accordion>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

