<!--<app-nav></app-nav>-->
<div class="background-know">

  <div class="container" >
    <div fxLayout="row" fxLayout.lt-md="column" >
      <div fxFlex="10">
      </div>
      <div fxFlex="80" class="page-content-sliders">

<!--  <pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              style="display: block;width:100%;"
  ></pdf-viewer>-->
          <!--<h2 style="text-align: center;color: #3f51b5;margin-bottom: 10px;">Knowledge Partner Presentation</h2>-->
          <ng-template ngFor let-item [ngForOf]="createRange(35)" let-currentIndex="index+1">
          <img src="https://storage.googleapis.com/web-assets/presentations-2019/PostEvent-Presentation/Slide{{currentIndex}}.PNG" >
          </ng-template>
         
        </div>
        <div fxFlex="10">
        </div>
  </div>
</div>
</div>
<!--<app-footer></app-footer>-->