<app-nav></app-nav>
<section class="back2 back11">
  <section class="container">
    <div flex fxLayout="row" style="text-align: center;">
      <div fxFlex="100" class="col-md-12 col-sm-12 col-xs-12"><h1 class="main_heading2 mrg text-center">Services</h1>
      </div>
    </div>

    <div flex fxLayout="row" fxLayout.xs="column">
      <div fxFlex="33" class="col-md-4 col-sm-4 col-xs-12 pdg_left_rite text_center_m">
        <a style="text-decoration: none;" href="https://dpm.therightdoctors.com">
          <div class="mrg">
            <div class="mrg_btm"><img src="assets/img/icons5.png"></div>
            <h3 class="color_white mrg_btm2">Digital Patient Management</h3>
            <p class="text_mid mrg_btm color_white">Ensure your patients take
              every prescribed medication.</p>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>

      <div fxFlex="33" class="col-md-4 col-sm-4 col-xs-12 pdg_left_rite text_center_m">
        <a style="text-decoration: none;" href="https://topdocs.therightdoctors.com">
          <div class="mrg">
            <div class="mrg_btm"><img src="assets/img/icons1.png"></div>
            <h3 class="color_white mrg_btm2">Med Hub</h3>
            <p class="text_mid mrg_btm color_white">Engage with experts
              from different medical specialities
              from across the world</p>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>

      <div fxFlex="33" class="col-md-4 col-sm-4 col-xs-12 pdg_left_rite text_center_m">
        <a style="text-decoration: none;" href="/">
          <div class="mrg">
            <div class="mrg_btm"><img src="assets/img/icons2.png"></div>
            <h3 class="color_white mrg_btm2">TV</h3>
            <p class="text_mid mrg_btm color_white">Watch the masters of the medical world talk about their craft and
              recent advances.</p>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>

      <!-- <div class="col-md-4 col-sm-4 col-xs-12 pdg_left_rite text_center_m">
      <div class="mrg">
      <div class="mrg_btm"><img src="/img/icons3.png"></div>
      <h3 class="color_white mrg_btm2">Priority Consult</h3>
      <p class="text_mid mrg_btm color_white">For those who do not like to wait. Zero waiting time consultations.</p>
      <div class="clearfix"></div>
      </div>
      </div> -->
      <!-- <div class="col-md-4 col-sm-4 col-xs-12 pdg_left_rite text_center_m">
      <div class="mrg">
      <div class="mrg_btm"><img src="/img/icons4.png"></div>
      <h3 class="color_white mrg_btm2">24/7</h3>
      <p class="text_mid mrg_btm color_white">Move from What happened ?
      to What's happening.
      Turbo charge your practice</p>
      <div class="clearfix"></div>
      </div>
      </div> -->
    </div>

    <div flex fxLayout="row" fxLayout.xs="column">


      <div fxFlex="33" class="col-md-4 col-sm-4 col-xs-12 pdg_left_rite text_center_m">
        <div class="mrg">
          <div class="mrg_btm"><img src="assets/img/icons1.png"></div>
          <h3 class="color_white mrg_btm2">Specials</h3>
          <p class="text_mid mrg_btm color_white">A snapshot of what's happening at conferences in the medical world
            across different specialities.</p>

        </div>
      </div>

      <div fxFlex="33" class="col-md-4 col-sm-4 col-xs-12 pdg_left_rite text_center_m">
        <div class="mrg">
          <div class="mrg_btm"><img src="assets/img/icons4.png"></div>
          <h3 class="color_white mrg_btm2">24/7</h3>
          <p class="text_mid mrg_btm color_white">Move from What happened ?
            to What's happening.
            Turbo charge your practice</p>

        </div>
      </div>

      <div fxFlex="33" class="col-md-4 col-sm-4 col-xs-12 pdg_left_rite text_center_m">
        <div class="mrg">
          <div class="mrg_btm"><img src="assets/img/icons12.png"></div>
          <h3 class="color_white mrg_btm2">Medicos</h3>
          <p class="text_mid mrg_btm color_white">Learning resources for undergraduate and
            postgraduate medical students.</p>

        </div>
      </div>

    </div>

    <div flex fxLayout="row" fxLayout.xs="column">
      <div fxFlex="33" class="col-md-4 col-sm-4 col-xs-12 pdg_left_rite text_center_m">
        <div class="mrg">
          <div class="mrg_btm"><img src="assets/img/icons7.png"></div>
          <h3 class="color_white mrg_btm2">Feedback Loops</h3>
          <p class="text_mid mrg_btm color_white">Ensures post procedure follow up long after
            you leave the hospital.</p>

        </div>
      </div>

      <div fxFlex="33" class="col-md-4 col-sm-4 col-xs-12 pdg_left_rite text_center_m">
        <div class="mrg">
          <div class="mrg_btm"><img src="assets/img/icons8.png"></div>
          <h3 class="color_white mrg_btm2">Clinics</h3>
          <p class="text_mid mrg_btm color_white">A vibrant online presence for
            your clinic to
            help patients decide.</p>

        </div>
      </div>

      <div fxFlex="33" class="col-md-4 col-sm-4 col-xs-12 pdg_left_rite text_center_m">
        <div class="mrg">
          <div class="mrg_btm"><img src="assets/img/icons9.png"></div>
          <h3 class="color_white mrg_btm2">LiVe</h3>
          <p class="text_mid mrg_btm color_white">Enable remote monitoring and help
            prevent emergencies.</p>

        </div>
      </div>
    </div>
    <div flex fxLayout="row" fxLayout.xs="column">
      <div fxFlex="33" class="col-md-4 col-sm-4 col-xs-12 pdg_left_rite text_center_m">
        <div class="mrg">
          <div class="mrg_btm"><img src="assets/img/icons10.png"></div>
          <h3 class="color_white mrg_btm2">GeNo</h3>
          <p class="text_mid mrg_btm color_white">Your genotype at work .
            Say YES to personalised medicine.</p>

        </div>
      </div>

      <div fxFlex="33" class="col-md-4 col-sm-4 col-xs-12 pdg_left_rite text_center_m">
        <div class="mrg">
          <div class="mrg_btm"><img src="assets/img/icons11.png"></div>
          <h3 class="color_white mrg_btm2">Case Studies</h3>
          <p class="text_mid mrg_btm color_white">A learning opportunity to gain from the
            challenges of tough cases.</p>
        </div>
      </div>
    </div>
  </section>
</section>

<app-footer></app-footer>
