.hdg_line {
    border-bottom: 3px solid #d9534f;
    border-top: 3px solid #d9534f;
    height: 1px;
    position: absolute;
    width: 100%;
@include margin(20 px);
}

.dis{
    display: none;
}
@media (max-width: 599px) {
    .dis{
        display: block;
    }
}

@media (max-width: 978px) {
    .dis1{
        display: block;
    }
}
@media (max-width: 599px) {
    .dis1{
        display: none;
    }
}
@media (max-width: 768px){
    .hd4_mobile{
        font-size: 12.5px !important;
        font-weight: 500;
        line-height: 18px;
        padding:0px;
    }
    .color_orange1 {
        color: #e27520;
    }
}