h6,ul li,p{
    font-family: ff-quadraat-web-pro,"Times New Roman",serif !important;
}
.layer-top ul li,.layer-top ul,.sub-layer1 ul li{
    list-style-type: none !important;
}
.sub-layer1 ul{
    padding-left: 0px;
}
.sub-layer1 ul li a{
    color: #000;
}
.topone,.toptwo{
    background-color: #f1f1f1;
    padding:30px;
}
.topone ul li{
    padding-bottom: 10px;
}
.topone{
    margin-bottom: 30px;
}
.topone h6{
    font-weight: bold;
    border-bottom: 2px solid #000;
    margin-bottom: 16px;
    padding-bottom: 5px;
}
.bor-top{
    border-top: 1px solid #ccc;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-left: 10px;
}
.layer-top h6{
    padding:0px 10px;
}
.br-btm{
    border-bottom: 2px solid #000;
}
.heading-acc{
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 18px !important;
    color: #424242 !important;
}
.headinga{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.border-top2{
    padding:50px 0px;
}
.sub-layer1{
    padding-top: 30px;
}
.head-des{
    margin-bottom: 16px !important;
}
.layer-top{
    border-bottom: 1px solid #ccc;
}
@media(max-width:959px){
    .desk-view{
        display: none !important;
    }
    .mrgbtm{
        margin-bottom: 30px;
    }
}
@media(min-width:960px){

}