<app-nav></app-nav>
<style>
  .mar-top-interview{
    margin-top:15px;
  }
  @media (max-width: 767px) {
    .pdg_left, .pdg1, .no_pdg_m {
      padding: 10px !important;
    }
    .panel_thin_grey{
      margin-top:0px !important;
    }

  }
  .viewss {
    border-right: 1px solid #ccc;
    padding-right: 10px;
    position: relative;
    top: 10px;
    text-align: center;
  }
  @media(max-width:599px){
  .mar-top-interview{
  text-align: left;margin-top: 67px}
  }

</style>
<!--flex  my style----->
<div class="container">
  <h1  class="video_hd1 mrg_btm mar-top-interview">{{catagory[0]['sub_headline']}}:
    {{catagory[0]['headline']}}</h1>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.md="row">
    <div fxFlex="50" fxFlex.md="50">
      <div class="slab">{{ catagory[0]['sub_headline'] }}</div>
    </div>
    <div fxFlex="50" fxFlex.md="50" align="right">

      <ul class="list-inline list-icons-top">
        <li class="viewss">{{ catagory[0]['anchor']}}<br>Total Views</li>

        <li><a href="https://www.facebook.com/dialog/feed?app_id=1066226316760891
&redirect_uri=https://therightdoctors.com
&link=https://therightdoctors.com/{{ catagory[0]['event']}}/{{ catagory[0]['category']}}/{{ catagory[0]['slug']}}
&picture={{ catagory[0]['image_url'] }}
&caption=TheRightDoctors.com%20|%20BY%20%20{{ catagory[0]['sub_headline']}},%20%20{{ catagory[0]['designation']}}
&description={{ catagory[0]['description']}}
&name={{ catagory[0]['headline']}}" title="Share on Facebook" data-service="facebook" target="_blank"><i
                class="fa fa-facebook fb" aria-hidden="true"></i> </a></li>
        <li><a
                href="https://twitter.com/intent/tweet?url=https://therightdoctors.com/{{ catagory[0]['event']}}/{{ catagory[0]['category']}}/{{ catagory[0]['slug']}}&text={{ catagory[0]['sub_headline']}}%20-{{ catagory[0]['headline']}}&via=TheRightDoctors"
                title="Share on Twitter" data-service="twitter" target="_blank"> <i
                class="fa fa-twitter twit-clr" aria-hidden="true"></i></a></li>
        <!-- <li><a
                href="https://plus.google.com/share?url=https://therightdoctors.com/{{ catagory[0]['event']}}/{{ catagory[0]['category']}}/{{ catagory[0]['slug']}}"
                title="Share on Google Plus" data-service="gplus" target="_blank"><i
                class="fa fa-google-plus google-plus" aria-hidden="true"></i></a></li> -->
        <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https://therightdoctors.com/{{ catagory[0]['event']}}/{{ catagory[0]['category']}}/{{ catagory[0]['slug']}}&title={{ catagory[0]['headline']}}
&summary={{ catagory[0]['headline2']}}&source=therightdoctors.com" title="Share on Linkedin" data-service="linkedin"
               target="_blank"><i class="fa fa-linkedin linkd" aria-hidden="true"></i></a></li>
        <li><a
                href="https://api.whatsapp.com/send?text=https://therightdoctors.com/{{ catagory[0]['event']}}/{{ catagory[0]['category']}}/{{ catagory[0]['slug']}}"
                data-action="share/whatsapp/share" title="Share on Whatsapp" data-service="whatsapp"
                target="_blank"><i class="fa fa-whatsapp whats-app" aria-hidden="true" style="font-size:18px;"></i></a></li>



        <li><a data-flip-widget="shareflip" title="Share on Flipit" target="_blank"
               href="https://share.flipboard.com/bookmarklet/popout?ext=sharethis&
title={{ catagory[0]['headline']}}&url=https://therightdoctors.com/{{ catagory[0]['event']}}/{{ catagory[0]['category']}}/{{ catagory[0]['slug']}}&utm_campaign=widgets&utm_content={{ catagory[0]['sub_headline']}}&utm_source=sharethis&v=2">
          <img style="width: 27px;height: 27px;margin-top: -2px;
    border-radius: 100%;" src="https://cdn.flipboard.com/badges/flipboard_srsw.png" alt="flipboard icon"/></a></li>

      </ul>






    </div>
  </div>


</div>


<!-- playing video-->
<div class="full_vid" style="margin-top:20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
            <video autoplay="true" controls (ended)="nextVideo()" #media id="singleVideo" preload="auto" #video
                   (play)="loveit(catagory[0]['anchor'],catagory[0]['slug'])" style="width:100%">
              <source *ngFor="let item of sources" [src]="item.src" type="video/mp4">
                <track label="English" kind="subtitles" src="{{subtitles}}" srclang="en" default>

            </video>
        </div>


      </div>
    </div>
  </div>
</div>
<!--player end-->
<div class="back10" style="padding-top:30px;">
  <div class="container director">
    <div class="row mrg_btm no_mrg_m" style="margin-top: 20px;
         height: 100px;">

      <div class="" style="padding-left: 29px;">
        <div class="add_txt" style="padding-left:29px;" *ngIf="catagory[0]['event'] === 'cardiac-prevent-2015'"><p>
          Supported by an Unrestricted
          <br> Educational Grant from</p>
          <img src="https://storage.googleapis.com/web-assets/IAGES_2020/Revised-(Day-01)/Day-02/N%20K%20Mishra/N%20K%20Mishra-large.jpg" alt="Glenmark Logo">
        </div>


        <div class="add_txt" *ngIf="catagory[0]['event'] === 'csi-2017'"><p>Supported by an Unrestricted <br>
          Educational Grant from</p>
          <img src="assets/new-home-page/single/images/Emcure.png" style="height:35px; padding-right: 0;"
               alt="Emcure Logo">
        </div>
        <div class="clearfix"></div>
      </div>

      <div *ngIf="catagory[0]['guest1']" class=" pdg_no_m">
        <div class="">
          <div class=" " style="float:left;padding-right:30px">
            <img src="{{ catagory[0]['guest1_image_url']}}" width="" height=""></div>
          <div class="">
            <h1 class="doc_nm">{{ catagory[0]['guest1']}}</h1>
            <p>{{ catagory[0]['guest1_designation']}}</p>
            <p>{{ catagory[0]['guest1_hospital']}}</p>
          </div>
        </div>
      </div>

      <div *ngIf="catagory[0]['guest2']" class=" mrg_top_m pdg_no_m">
        <div class="">
          <div class="">
            <img width="" height="" src="{{ catagory[0]['guest2_image_url']}}"></div>
          <div class="">
            <h1 class="doc_nm">{{ catagory[0]['guest2']}}</h1>
            <p>{{ catagory[0]['guest2_designation']}}</p>
            <p>{{ catagory[0]['guest2_hospital']}}</p>
          </div>
        </div>
      </div>

      <div *ngIf="catagory[0]['guest3']" class=" mrg_top_m pdg_no_m">
        <div class="row">
          <div class="">
            <img width="" height="" src="{{ catagory[0]['guest3_image_url']}}"></div>
          <div class="">
            <h1 class="doc_nm">{{ catagory[0]['guest3']}}</h1>
            <p>{{ catagory[0]['guest3_designation']}}</p>
            <p>{{ catagory[0]['guest3_hospital']}}</p>
          </div>
        </div>
      </div>


      <div *ngIf="catagory[0]['guest4']" class="">
        <div class="row">
          <div class="">
            <img src="{{ catagory[0]['guest4_image_url']}}" width="" height=""></div>
          <div class="">
            <h1 class="doc_nm">{{ catagory[0]['guest4']}}</h1>
            <p>{{ catagory[0]['guest4_designation']}}</p>
            <p>{{ catagory[0]['guest4_hospital']}}</p>
          </div>
        </div>
      </div>

      <div *ngIf="catagory[0]['guest5']" class=" mrg_top_m">
        <div class="row">
          <div class=" director">
            <img width="" height="" src="{{ catagory[0]['guest5_image_url']}}"></div>
          <div class="">
            <h1 class="doc_nm">{{ catagory[0]['guest5']}}</h1>
            <p>{{ catagory[0]['guest5_designation']}}</p>
            <p>{{ catagory[0]['guest5_hospital']}}</p>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--share video-->

<!--share end-->


<!-- another-->
<section class="back2">
  <section class="container">

    <div class="">
      <div class="">
        <h2 class="main_heading mrg_btm">The Interview <span class="hdg_line" style="height:1px"></span></h2>
      </div>
    </div>
    <!---my work--->
    <div class="mrg_btm"
         fxLayout="row"
         fxLayout.lt-md="column"
         fxLayoutAlign="center"
         fxLayoutGap="30px"
         fxLayoutGap.lt-md="5px">
      <div fxFlex="75%" >
        <div >
          <a style=" text-decoration: none;" [routerLink]="['/'+catagory[16]['event']+'/'+catagory[16]['category']+'/'+catagory[16]['slug']]">
            <div fxLayout="row" fxLayoutGap="0px">
              <div fxFlex="75" fxFlex.xs="40" fxFlex.lt-md="33"><img src="{{ catagory[16]['image_url'] }}"/></div>
              <div fxFlex="25" fxFlex.xs="60"  fxFlex.lt-md="67" style="background-color:#f1f1f1;padding-left: 15px;border-top: 1px solid #6387dd;padding-right:5px ">
                <a [routerLink]="['/'+catagory[16]['event']+'/'+catagory[16]['category']+'/'+catagory[16]['slug']]">
                  <h1 class="hd4" style="line-height:1.4">
                    {{ catagory[16]['headline']}} <br>
                    <span class="color_orange">{{ catagory[16]['sub_headline'] }}</span>
                    <!--<br>{{ catagory[16]['designation'] }}--> </h1></a></div>
              <!--<h1 class="hd5" style="line-height:1.4">{{ catagory[16]['hospital'] }}</h1>-->
            </div>
          </a>
        </div>
      </div>


      <div fxFlex="25%"  >
        <div style="height:100%;" class=" panel_thin_grey">
          <a style="text-decoration: none;" [routerLink]="['/'+catagory[1]['event']+'/'+catagory[1]['category']+'/'+catagory[1]['slug']]">
            <div fxLayout="column" fxLayout.lt-md="row">
              <div fxFlex.lt-md="33" fxFlex.xs="40"><img src="{{ catagory[1]['image_url'] }}"/></div>
            <div fxFlex.lt-md="67" fxFlex.xs="60">
              <div class="pdg_left" style="padding-left: 20px;"><h1 class="hd4" style="color:#c7f1e0!important;">{{ catagory[1]['headline']}}
                <br><span class="color_orange">{{ catagory[1]['sub_headline'] }}</span></h1></div>
            </div></div>
          </a>
        </div>
      </div>

    </div>


    <!--second division-->

    <div class=" mrg_btm"  fxLayout="row" fxLayout.lt-md="column"  fxLayoutGap="30px"
         fxLayoutGap.lt-md="5px">
      <div fxFlex="45%" class="">
        <ng-template ngFor let-item [ngForOf]="createRange(4)" let-currentIndex="index+2">
          <div class="mrg_btm">
            <div class="panel_three panel_light_grey brder_top">

              <a style="text-decoration: none;"
                 [routerLink]="['/'+catagory[currentIndex]['event']+'/'+catagory[currentIndex]['category']+'/'+catagory[currentIndex]['slug']]">
                <div flex fxLayout="row" fxLayoutGap="10px" fxLayoutGap.lt-md="5px">
                  <div fxFlex="32" fxFlex.xs="40" class=""><img src="{{ catagory[currentIndex]['image_url'] }}"/></div>
                  <div fxFlex="68" fxFlex.xs="60" class="">
                    <div class="pdg1 pdgrt">
                      <h1 class="hd5">
                        {{ catagory[currentIndex]['headline'] | slice:0:35}}... <br>
                        <span class="color_orange">
                        <b style="font-size:15px">{{ catagory[currentIndex]['sub_headline'] }}</b></span></h1>
                    </div>
                  </div>
                </div>
              </a>

            </div>
          </div>
        </ng-template>
      </div>
      <div fxFlex="55">
        <div fxLayout="row"  fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="5px">
          <ng-template ngFor let-item [ngForOf]="createRange(2)" let-currentIndex="index+6">
            <div fxFlex="50" style="margin-bottom:10px;" ngStyle.xs="margin-bottom:0px;">
              <div class="">
                <div class="panel_four panel_thin_grey brder_top">
                    <a style="text-decoration: none;"
                       [routerLink]="['/'+catagory[currentIndex]['event']+'/'+catagory[currentIndex]['category']+'/'+catagory[currentIndex]['slug']]">
                      <div fxLayout="column" fxLayout.lt-md="row">
                        <div fxFlex.xs="40" fxFlex.lt-md="33">
                      <img src="{{ catagory[currentIndex]['image_url'] }}"
                                         alt="{{ catagory[currentIndex]['image_alt'] }}"></div>

                        <div fxFlex.xs="60" fxFlex.lt-md="67">
                        <div class="pdg1">
                          <h4 *ngIf="catagory[currentIndex]['event']=='apvic'" class="hd4 "><span class="color_white">{{ catagory[currentIndex]['sub_headline'] }}</span>
                          </h4>
                          <h5 *ngIf="catagory[currentIndex]['event']=='apvic'" class="hd5 color_white">{{
                            catagory[currentIndex]['designation'] }}</h5>
                          <h4 *ngIf="catagory[currentIndex]['event']=='apvic'" class="hd4"><span class="color_orange">{{ catagory[currentIndex]['hospital'] }}</span>
                          </h4>
                          <h5 *ngIf="catagory[currentIndex]['event']!=='apvic'" class="hd5 color_white">{{
                            catagory[currentIndex]['headline'] }}</h5>
                          <h4 *ngIf="catagory[currentIndex]['event']!=='apvic'" class="hd4 "><span
                            class="color_orange">{{ catagory[currentIndex]['sub_headline'] }}</span></h4>

                        </div>
                      </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="mrg_btm"  fxLayout="row"  fxLayout.lt-md="column" fxLayoutGap="30px"
         fxLayoutGap.lt-md="5px">
      <div fxFlex="75" class="" fxFlex.lt-md="50%">
        <div class="panel_one_one panel_light_grey brder_top">

          <a style="text-decoration: none;" [routerLink]="['/'+catagory[8]['event']+'/'+catagory[8]['category']+'/'+catagory[8]['slug']]">
            <div flex fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="10px" fxLayoutGap.lt-md="5px">
              <div fxFlex="67" fxFlex.xs="40" fxFlex.lt-md="33" class=" pull-left">
                <img src="{{ catagory[8]['image_url'] }}"/></div>
              <div fxFlex="33" fxFlex.xs="60"  fxFlex.lt-md="67" class=" pull-right">
                <div class="pdg_left"><h1 class="hd4" style="line-height:1.4;">
                  {{ catagory[8]['headline'] }} <br>
                  <span class="color_orange">{{ catagory[8]['sub_headline'] }}</span>
                </h1>

                </div>
              </div>
            </div>
          </a>

        </div>
      </div>


      <div fxFlex="25" class="" fxFlex.lt-md="50%">
        <div class="">
          <div class="panel_one_one panel_thin_grey brder_top">
            <div fxLayout="column" fxLayout.lt-md="row">
              <a style="text-decoration: none;" [routerLink]="['/'+catagory[9]['event']+'/'+catagory[9]['category']+'/'+catagory[9]['slug']]">
                <div fxLayout="column" fxLayout.lt-md="row">
                <div fxFlex.xs="40" fxFlex.lt-md="33"><img src="{{ catagory[9]['image_url'] }}"/></div>
                <div fxFlex.xs="60" fxFlex.lt-md="67">
                  <div class="pdg_left" style="padding-left: 20px"><h1 class="hd4" style="color:white!important">{{ catagory[9]['headline']}}<br><span
                    class="color_orange">{{ catagory[9]['sub_headline'] }}</span></h1></div>
                </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="mrg_btm " flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.lt-md="5px">
        <div fxFlex="42" class="">
          <ng-template ngFor let-item [ngForOf]="createRange(4)" let-currentIndex="index+10">
            <div class="mrg_btm">
              <div class="panel_three panel_light_grey brder_top">

                <a style="text-decoration: none;"
                   [routerLink]="['/'+catagory[currentIndex]['event']+'/'+catagory[currentIndex]['category']+'/'+catagory[currentIndex]['slug']]">
                  <div flex fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="34" fxFlex.xs="40" class=""><img src="{{ catagory[currentIndex]['image_url'] }}"/></div>
                    <div fxFlex="66" fxFlex.xs="60" class="
">
                      <div class="pdg1 pdgrt">
                        <h1 *ngIf="catagory[currentIndex]['event']=='apvic'" class="hd5"> {{
                          catagory[currentIndex]['headline']| slice:0:40}}... <br> <span class="color_orange"><b
                            style="font-size:15px">{{ catagory[currentIndex]['sub_headline'] | slice:0:20}}</b></span></h1>
                        <h1 *ngIf="catagory[currentIndex]['event']!=='apvic'" class="hd5">{{
                          catagory[currentIndex]['headline'] | slice:0:40}}... <br><span class="color_orange"><b
                            style="font-size:15px">{{ catagory[currentIndex]['sub_headline'] | slice:0:20}}</b></span></h1>
                      </div>
                    </div>
                  </div>
                </a>

              </div>

            </div>
          </ng-template>
        </div>

        <div fxFlex="58" class="">
          <div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <ng-template ngFor let-item [ngForOf]="createRange(1)" let-currentIndex="index+14">
              <div fxFlex="50" class="">
                <div class="">
                  <div class="panel_four panel_thin_grey brder_top">
                    <div class="">
                      <a [routerLink]="['/'+catagory[currentIndex]['event']+'/'+catagory[currentIndex]['category']+'/'+catagory[currentIndex]['slug']]">
                        <div fxLayout="column" fxLayout.lt-md="row">
                        <div fxFlex.lt-md="33" fxFlex.xs="40"><img src="{{ catagory[currentIndex]['image_url'] }}"
                                           alt="{{ catagory[currentIndex]['image_alt'] }}">
                        </div>
                        <div fxFlex.lt-md="67" fxFlex.xs="60">
                          <div class="pdg1">
                            <h4 *ngIf="catagory[currentIndex]['event']=='apvic'" class="hd4 "><span class="color_white">{{ catagory[currentIndex]['sub_headline'] }}</span>
                            </h4>
                            <h5 *ngIf="catagory[currentIndex]['event']=='apvic'" class="hd5 color_white">{{
                              catagory[currentIndex]['designation'] }}</h5>
                            <h4 *ngIf="catagory[currentIndex]['event']=='apvic'" class="hd4"><span class="color_orange">{{ catagory[currentIndex]['hospital'] }}</span>
                            </h4>
                            <h4 *ngIf="catagory[currentIndex]['event']!=='apvic'" class="hd4 "><span
                              class="color_white">{{ catagory[currentIndex]['sub_headline'] | slice:0:20 }}</span></h4>
                            <h5 *ngIf="catagory[currentIndex]['event']!=='apvic'" class="hd5 color_white">{{
                              catagory[currentIndex]['headline2'] | slice:0:40}}...</h5>
                            <h4 *ngIf="catagory[currentIndex]['event']!=='apvic'" class="hd4"><span
                              class="color_orange">{{ catagory[currentIndex]['headline'] | slice:0:40 }}...</span></h4>
                          </div>
                        </div></div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <!--interview//-->

      <div class="row">
        <div class="col-md-12">
          <a [routerLink]="['/the-interview/all']">
            <button class="btn btn-primary">More Interviews</button>
          </a>
        </div>
      </div>
    </div>
  </section>
</section>
<!--another end-->

<!-- combine static ->
<!--inconversation-->
<section class="back2">
  <section class="container">

    <div class="row">
      <div class="col-md-12">
        <h2 class="main_heading mrg_btm">In Conversation<span class="hdg_line" style="height:1px"></span></h2>
      </div>
    </div>
    <div class="mrg_btm"
         fxLayout="row" fxLayout.xs="column"
         fxShow.lt-sm="true" fxShow.lt-md="false"
         fxLayoutAlign="center"
         fxLayoutGap="20px"
         fxLayoutGap.xs="0" style="margin-top:20px;">
      <div class="item item-1" fxFlex="100%" fxLayoutGap="10px" fxFlexOrder="0">


        <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap.lt-md="5px">


          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" >

            <div fxFlex="25%" fxLayoutGap="10px" style="margin-right:25px;background-color:black">
              <a [routerLink]="['/cardiac-prevent-2015/in-conversation/dr-h-k-chopra-with-dr-jagat-narula-and-dr-srinath-reddy']">
                <div><img
                  src="https://storage.googleapis.com/web-assets/images/events/csicardiacprevent2015/thumbnails/Jagat%20Narula_Srinath%20reddy/Jagat%20Narula_Srinath%20reddy-medium.jpg"
                  alt="Dr.H.K.Chopra with Dr.Jagat Narula and Dr.Srinath Reddy"></div>
                <div>
                  <div class="pdg1 pdgrt"><h4 class="hd4 hd4_m color_white">Education for Healthy Living...<br><span class="color_yellow">Dr. Jagat Narula...</span></h4>
                  </div>
                </div>
              </a>
            </div>

            <div fxFlex="25%" fxLayoutGap="10px" style="margin-bottom:10px;margin-right:25px;background-color:black">
              <a
                [routerLink]="['/wcchd-2015/in-conversation/dr-hk-chopra-president-dr-amal-banerjee-dr-db-pahlajani-digital-technology-future-of-heart-care-in-india']">

                <div><img
                  src="https://storage.googleapis.com/web-assets/images/wccpci_images/thumbnails/Chopra-Amal-Pahlajani.jpg"
                  alt="Dr. HK Chopra, President, Cardiological Society of India, Dr. Amal Banerjee, Sr. Cardiologist, Fortis Hospital, Kolkata, Dr. DB Pahlajani, Sr. Interventional Cardiologist, Breach Candy, Mumbai, Digital technology: Future of heart care in India">
                </div>
                <div>
                  <div class="pdg1 pdgrt" style="padding-left:10px">
                    <h4 class="hd4 hd4_m color_white">Digital technology: Future of heart care...<br><span
                      class="color_yellow">Dr. HK Chopra, Dr. Amal Banerjee, Dr. DB Pahlajani</span></h4>
                  </div>
                </div>
              </a>
            </div>

            <div fxFlex="25%" fxLayoutGap="10px" style="margin-right:25px;background-color:black">
              <a [routerLink]="['/csicon-2014/in-conversation/dr-o-p-yadava-in-conversation-with-dr-naresh-trehan']">

                <div><img
                  src="https://storage.googleapis.com/web-assets/images/in-conversation/Dr.O.P.Yadava-with-Dr.NareshTrehan/Dr.O.P.Yadava-with-Dr.NareshTrehan-medium.jpg"
                  alt="dr o p yadava in conversation with dr naresh trehan"></div>
                <div>
                  <div class="pdg1 pdgrt">
                    <h4 class="hd4 hd4_m color_white">If you're not better today than yesterday, then...
                      <br><span class="color_yellow">Dr. Naresh Trehan, Dr. OP Yadava</span></h4>
                  </div>
                </div>

              </a>
            </div>

            <div fxFlex="25%" fxLayoutGap="10px" style="margin-right:25px;background-color:black">
              <a [routerLink]="['/cardiac-prevent-2015/in-conversation/dr-h-k-chopra-with-dr-santanu-guha-and-dr-venkat-s-ram']">

                <div><img
                  src="https://storage.googleapis.com/web-assets/images/events/csicardiacprevent2015/thumbnails/Santanu%20Guha_Venkat%20S%20Ram/Santanu%20Guha_Venkat%20S%20Ram-medium.jpg"
                  alt="Dr. HK Chopra with Dr. Santanu Guha and Dr. Venkat S Ram"></div>
                <div>
                  <div class="pdg1 pdgrt">
                    <h4 class="hd4 hd4_m color_white">
                      Public awareness on Hypertension: A National...<br>
                      <span class="color_yellow">Dr. Santanu Guha...</span>
                    </h4>
                  </div>
                </div>

              </a>
            </div>

          </div>

        </div>


      </div>
    </div>


    <div class="" fxLayout fxLayoutGap="30px" fxShow="false" fxShow.lt-sm="false" fxShow.lt-md="true" fxLayoutGap.lt-md="5px"
         fxlayout.lt-md="column">
      <div fxFlex="100">
        <a [routerLink]="['/cardiac-prevent-2015/in-conversation/dr-h-k-chopra-with-dr-jagat-narula-and-dr-srinath-reddy']">
          <div fxLayout="row" fxLayoutGap="10px" style="border-bottom:1px solid #ccc;
  margin-bottom:10px;" class="panel_three panel_light_grey brder_top">
            <div fxFlex="33">
              <img
                src="https://storage.googleapis.com/web-assets/images/events/csicardiacprevent2015/thumbnails/Jagat%20Narula_Srinath%20reddy/Jagat%20Narula_Srinath%20reddy-medium.jpg"
                alt="Dr.H.K.Chopra with Dr.Jagat Narula and Dr.Srinath Reddy"/>
            </div>

            <div fxFlex="67">
              <div class="pdg1 pdgrt"><h4 class="hd4 hd4_m">Education for Healthy Living...<br><span class="color_yellow">Dr. Jagat Narula, Dr. Srinath Reddy</span></h4>
              </div>
            </div>
          </div>

        </a>
        <a
          [routerLink]="['/wcchd-2015/in-conversation/dr-hk-chopra-president-dr-amal-banerjee-dr-db-pahlajani-digital-technology-future-of-heart-care-in-india']">
          <div fxLayout="row" fxLayoutGap="10px" style="border-bottom:1px solid #ccc;
  margin-bottom:10px;" class="panel_three panel_light_grey brder_top">
            <div fxFlex="33">
              <img
                src="https://storage.googleapis.com/web-assets/images/wccpci_images/thumbnails/Chopra-Amal-Pahlajani.jpg"
                alt="Dr. HK Chopra, President, Cardiological Society of India, Dr. Amal Banerjee, Sr. Cardiologist, Fortis Hospital, Kolkata, Dr. DB Pahlajani, Sr. Interventional Cardiologist, Breach Candy, Mumbai, Digital technology: Future of heart care in India">


            </div>

            <div fxFlex="67">
              <div class="pdg1 pdgrt" style="padding-left:10px">
                <h4 class="hd4 hd4_m ">Digital technology: Future of heart care...<br><span
                  class="color_yellow">Dr. HK Chopra...</span></h4>
              </div>
            </div>
          </div>

        </a>
        <a [routerLink]="['/csicon-2014/in-conversation/dr-o-p-yadava-in-conversation-with-dr-naresh-trehan']">
          <div fxLayout="row" fxLayoutGap="10px" style="border-bottom:1px solid #ccc;
  margin-bottom:10px;" class="panel_three panel_light_grey brder_top">
            <div fxFlex="33">
              <img
                src="https://storage.googleapis.com/web-assets/images/in-conversation/Dr.O.P.Yadava-with-Dr.NareshTrehan/Dr.O.P.Yadava-with-Dr.NareshTrehan-medium.jpg"
                alt="dr o p yadava in conversation with dr naresh trehan">


            </div>

            <div fxFlex="67">
              <div class="pdg1 pdgrt">
                <h4 class="hd4 hd4_m ">If you're not better today than yesterday...
                  <br><span class="color_yellow">Dr. Naresh Trehan..</span></h4>
              </div>
            </div>
          </div>

        </a>
        <a [routerLink]="['/cardiac-prevent-2015/in-conversation/dr-h-k-chopra-with-dr-santanu-guha-and-dr-venkat-s-ram']">
          <div fxLayout="row" fxLayoutGap="10px" style="border-bottom:1px solid #ccc;
  margin-bottom:10px;" class="panel_three panel_light_grey brder_top">
            <div fxFlex="33">
              <img
                src="https://storage.googleapis.com/web-assets/images/events/csicardiacprevent2015/thumbnails/Santanu%20Guha_Venkat%20S%20Ram/Santanu%20Guha_Venkat%20S%20Ram-medium.jpg"
                alt="Dr. HK Chopra with Dr. Santanu Guha and Dr. Venkat S Ram">


            </div>

            <div fxFlex="67">
              <div class="pdg1 pdgrt">
                <h4 class="hd4 hd4_m ">
                  Public awareness on Hypertension: A National Priority...<br>
                  <span class="color_yellow">Dr. Santanu Guha...</span>
                </h4>
              </div>
            </div>
          </div>

        </a>
      </div>
    </div>



    <!-- ///--->

    <div class="row">
      <div class="col-md-12" style="padding-top: 15px">
        <a [routerLink]="['/in-conversation/all']">
          <button class="btn btn-primary">More In Conversations</button>
        </a>
      </div>
    </div>

  </section>
</section>
<!--inconversation//-->

<!--one ore thing-->
<section class="back2">
  <section class="container">

    <div class="row">
      <div class="col-md-12">
        <h2 class="main_heading mrg_btm">One More Thing<span class="hdg_line" style="height: 1px;"></span></h2>
      </div>
    </div>

    <div class="mrg_btm">
      <div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.xs="5px">

        <div fxFlex="25" class="">
          <div class="panel_one panel_thin_grey border_yellow">
            <div class="">
              <a style="text-decoration: none;"
                 [routerLink]="['/one-more-thing/dr-naresh-trehan-chairman-and-managing-director-medanta-the-medicity-message-on-world-heart-day']">
                <div flex fxLayout="column" fxLayout.xs="row" fxLayout.sm="row" fxLayoutGap="10px">
                  <div  fxFlex="33" fxFlex.lt-sm="40" class=""><img
                    src="https://storage.googleapis.com/web-assets/images/Dr.Naresh%20Trehan.jpg"
                    alt="Dr Naresh Trehan, Chairman and Managing Director, Medanta-The Medicity, Therefore My Message on World Heart Day"/>
                  </div>
                  <div  fxFlex="66" fxFlex.lt-sm="60" class="">
                    <div class="pdg1 pdgrt">
                      <h3 class="hd4 hd4_m color_white">Incidence of heart disease in India is three times that in the
                        West...<p class="color_orange">Dr.Naresh Trehan</p></h3>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div fxFlex="25" class="">
          <div class="">
            <div class="panel_one panel_light_grey border_orange">
              <div class="">
                <a style="text-decoration: none;"
                   [routerLink]="['/one-more-thing/dr-ak-pancholia-consultant-cardiologist-when-statins-are-insufficient-in-reducing-ldl']">
                  <div flex fxLayout="column" fxLayout.xs="row" fxLayout.sm="row" fxLayoutGap="10px">
                    <div  fxFlex="33" fxFlex.lt-sm="40" class=""><img
                      src="https://storage.googleapis.com/web-assets/images/CSICON14/OMT/Dr.A.K.Pancholia2/Dr.A.K.Pancholia2-medium.jpg"
                      alt="Dr. AK Pancholia, Consultant Cardiologist, Arihant Hospital and Research Center, Indore,  When Statins are insufficient in reducing LDL"/>
                    </div>
                    <div  fxFlex="66" fxFlex.lt-sm="60" class="">
                      <div class="pdg1 pdgrt">
                        <h3 class="hd4 hd4_m">When Statins are insufficient in reducing LDL...<p class="color_orange">
                          Dr. AK Pancholia</p></h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>


        <div fxFlex="50" class="">
          <div class="mrg_btm">
            <div class="">
              <div class="panel_three panel_light_grey brder_top">
                <div class="">
                  <a style="text-decoration: none;"
                     [routerLink]="['/one-more-thing/dr-rajiv-aggarwal-sr-interventional-cardiologist-guideline-directed-therapy-essential-for-systolic-heart-failure']">
                    <div fxLayout="row" fxLayoutGap="10px">
                      <div fxFlex="33"  fxFlex.lt-sm="40" class=""><img
                        src="https://storage.googleapis.com/web-assets/images/CSICON14/OMT/Dr.RajivAgarwal2/Dr.RajivAgarwal2-medium.jpg"
                        alt="Dr. Rajiv Aggarwal, Senior Interventional Cardiologist, Batra Hospital and Medical Research Centre, Delhi, Guideline directed therapy essential for Systolic Heart Failure">
                      </div>
                      <div fxFlex="66"  fxFlex.lt-sm="60" class="
">
                        <div class="pdg1 pdgrt">
                          <h3 class="hd5">Guideline directed therapy essential for Systolic Heart Failure...<p
                            class="color_orange"><b>Dr. Rajiv Aggarwal</b></p></h3>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="mrg_btm">
            <div class="">
              <div class="panel_three panel_thin_grey border_yellow">
                <div class="">
                  <a style="text-decoration: none;"
                     [routerLink]="['/one-more-thing/dr-poonam-malhotra-associate-professor-dept-of-cardiac-anaesthesia-echmo-therapy-for-a-failing-lung-or-heart']">
                    <div fxLayout="row" fxLayoutGap="10px">
                      <div fxFlex="33" fxFlex.lt-sm="40" class=""><img
                        src="https://storage.googleapis.com/web-assets/images/CSICON14/OMT/Dr.PoonamMalhotra2/Dr.PoonamMalhotra2-medium.jpg"
                        alt="Dr. Poonam Malhotra, Associate Professor, Dept. of cardiac Anaesthesia, AIIMS, New Delhi, ECHMO: therapy for a failing lung or heart ">
                      </div>
                      <div fxFlex="66" fxFlex.lt-sm="60" class="
">
                        <div class="pdg1 pdgrt">
                          <h3 class="hd5 color_white">ECHMO: therapy for a failing lung or heart...<p
                            class="color_orange"><b>Dr. Poonam Malhotra</b></p></h3>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="panel_three panel_light_grey border_orange">
              <div class="">
                <a style="text-decoration: none;"
                   [routerLink]="['/one-more-thing/dr.deepak-koshal-lacking-awareness-and-understanding']">
                  <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="33" fxFlex.lt-sm="40" class=""><img
                      src="https://storage.googleapis.com/web-assets/images/APVIC/Interviews/Dr.DeepakKhousal/Dr.DeepakKhousal-large.jpg"
                      alt="Dr. Deepak Koshal,Director Cardiovascular, Heritage Heart, Delhi,Lacking awareness and understanding ">
                    </div>
                    <div fxFlex="66"  fxFlex.lt-sm="60" class="
">
                      <div class="pdg1 pdgrt">
                        <h5 class="hd5 hd5_m">basically citizens worldwide and especially
                          ...<p class="color_orange"><b>Dr. Deepak Koshal</b></p></h5>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12" style="padding-top: 15px">
        <a [routerLink]="['/one-more-thing/all']">
          <button class="btn btn-primary">More One More Thing Videos</button>
        </a>
      </div>
    </div>
  </section>
</section>

<!--speakers-->
<section class="back3">
  <section class="container">

    <div class="row">
      <div class="col-md-12">
        <h2 class="main_heading2 mrg_btm">The Speakers<span class="hdg_line" style="height:1px"></span></h2>
      </div>
    </div>

    <div class="mrg_btm">
      <div flex fxLayoutGap="30px" fxLayoutGap.xs="5px" fxLayout.xs="column" fxLayout.sm="column" fxLayout="row">

        <div fxFlex="25" class="">
          <div class="panel_five panel_dark_grey">
            <div class="">
              <a style="text-decoration: none;"
                 [routerLink]="['/the-speakers/dr-ankit-bansal-asst-professor-cardiology-coronary-noflow-desperate-times-desperate-measures']">
                <div flex fxLayout="column" fxLayoutGap="20px" fxLayout.xs="row" fxLayout.sm="row" fxLayout.lt-md="row"
                     fxLayoutGap.xs="20px">
                  <div fxFlex.xs="40"  fxFlex.lt-md="33" class=""><img
                    src="https://storage.googleapis.com/web-assets/optimized-images/the-speakers/DrAnkitBansal-medium.jpg"
                    alt="Dr. Ankit Bansal, Asst Prof. Cardiology, GB Pant Hospital, New Delhi, Coronary No-Flow : Desperate Times Desperate Measures">
                  </div>
                  <div fxFlex.xs="60" fxFlex.lt-md="67"  class=""><h5 class="hd5 color_white">CSI NIC 2016 -
                    TTT@NIC:Complication Session<br><span class="color_yellow">Dr. Ankit Bansal</span></h5></div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div fxFlex="25" class="">
          <div class="">
            <div class="panel_five panel_dark_grey">
              <div class="">
                <a style="text-decoration: none;"
                   [routerLink]="['/the-speakers/dr-lohitashwa-s-b-cardiologist-uterine-artery-embolization']">
                  <div flex fxLayout="column" fxLayoutGap="20px" fxLayout.xs="row" fxLayout.sm="row" fxLayout.lt-md="row"
                       fxLayoutGap.xs="20px">
                    <div fxFlex.xs="40" fxFlex.lt-md="33"  class=""><img
                      src="https://storage.googleapis.com/web-assets/optimized-images/the-speakers/DrLohitashwaSB-medium.jpg"
                      alt="Dr. Lohitashwa S B, Cardiologist, St John's Medical College, Bangalore ,Uterine Artery Embolization ">
                    </div>
                    <div fxFlex.xs="60"  fxFlex.lt-md="67" class=""><h5 class="hd5 color_white">Exotic Vascular and
                      Structural Interventions<br><span class="color_yellow">Dr. Lohitashwa S B</span></h5></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div fxFlex="25" class="">
          <div class="">
            <div class="panel_five panel_dark_grey">
              <div class="">

                <a style="text-decoration: none;"
                   [routerLink]="['/the-speakers/dr-Chiung-Jen-Wu-directorof-asian-interventional-cardiovascular-therapeutics-b-v-s-implantation-complication']">
                  <div flex fxLayout="column" fxLayoutGap="20px" fxLayout.xs="row" fxLayout.sm="row" fxLayout.lt-md="row"
                       fxLayoutGap.xs="20px">
                    <div fxFlex.xs="40"  fxFlex.lt-md="33" class=""><img
                      src="https://storage.googleapis.com/web-assets/optimized-images/the-speakers/DrChiung-JenWu-medium.jpg"
                      alt="Dr.Chiung-Jen Wu, Director of Asian Interventional Cardiovascular Therapeutics Shin Kong Hospital, Taipei, Taiwan, BVS Implantation Complication ">
                    </div>
                    <div fxFlex.xs="60" fxFlex.lt-md="67"  class=""><h5 class="hd5 color_white">xCSI NIC 2016 - TTT@NIC:
                      Complication Session<br><span class="color_yellow">Dr. Lohitashwa S B</span></h5></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div fxFlex="25" class="">
          <div class="">
            <div class="panel_five panel_dark_grey">

              <a style="text-decoration: none;"
                 [routerLink]="['/the-speakers/dr-mona-bhatia-hod-radiology-and-imaging-use-of-cardiac-mri-in-planning-coronary-interventions']">
                <div flex fxLayout="column" fxLayoutGap="20px" fxLayout.xs="row" fxLayout.sm="row" fxLayout.lt-md="row"
                     fxLayoutGap.xs="20px">

                  <div  fxFlex.xs="40" fxFlex.lt-md="33" class=""><img
                    src="https://storage.googleapis.com/web-assets/images/CSI-NIC_Images/Speakers/images/DrMonaBhatia/DrMonaBhatia-medium.jpg"
                    alt="Dr. Mona Bhatia, HOD-Radiology and Imaging,Fortis Escorts Heart Institute, New Delhi, Use of Cardiac MRI in Planning Coronary Interventions">
                  </div>
                  <div fxFlex.xs="60" fxFlex.lt-md="67" class=""><h5 class="hd5 color_white">It has survived not only five
                    It has survived<br><span class="color_yellow">Dr. Mona Bhatia</span></h5></div>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12" style="padding-top:  25px;">
        <a style="text-decoration: none;" [routerLink]="['/the-speakers/all']">
          <button class="btn btn-primary">More Speakers</button>
        </a>
      </div>
    </div>


  </section>
</section>
<!--speakers//-->

<!-- combine static over-->
<app-footer></app-footer>
<!--</ng-template>-->