.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.gap-part mat-grid-tile {
  width: calc(((25% - 14px) * 1) + 0px) !important;
  height: calc(165px) !important;
  /*padding-bottom: 10px;*/

}

.hdg_line {
  border-bottom: 3px solid #d9534f;
  border-top: 3px solid #d9534f;
  height: 1px;
  position: absolute;
  width: 100%;
@include margin(20 px);
}


