


<!-- <section class="back2">
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hd2 mrg_btm no_mrg_m">One More Thing</div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 col-sm-6 col-xs-12 top-space-m">
        <ng-template ngFor let-item [ngForOf]="createRange(2)" let-currentIndex="index">
        <div class="marg-btm ">
          <a class="testvideo" [routerLink]="['/'+onemore['data']['one-more-thing'][currentIndex]['event']+'/'+onemore['data']['one-more-thing'][currentIndex]['category']+'/'+onemore['data']['one-more-thing'][currentIndex]['slug']]">
          <img src="{{onemore['data']['one-more-thing'][currentIndex]['image_url'] }}" alt="{{onemore['data']['one-more-thing'][currentIndex]['image_alt'] }}" style="width:100%"/>
          <div class="content-part1">
            <ul class="list-items">
              <li class="bor-no"><span class="bor-left-blue"> {{onemore['data']['one-more-thing'][currentIndex]['headline'] }}</span>
                <p class="color_orange color_base_m bor-left-red"><b>{{onemore['data']['one-more-thing'][currentIndex]['sub_headline']}}</b></p></li>
            </ul>
          </div>
          </a>
        </div>
        </ng-template>
        
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 top-space-m ">
        <div class="">
          <a class="testvideo" [routerLink]="['/'+onemore['data']['one-more-thing'][11]['event']+'/'+onemore['data']['one-more-thing'][11]['category']+'/'+onemore['data']['one-more-thing'][11]['slug']]">
            <img src="{{onemore['data']['one-more-thing'][11]['image_url']}}" alt="onemore['data']['one-more-thing'][11]['sub_headline']" style="width:100%"/>
          </a>
          <div class="content-part1">
            <a class="testvideo" [routerLink]="['/'+onemore['data']['one-more-thing'][11]['event']+'/'+onemore['data']['one-more-thing'][11]['category']+'/'+onemore['data']['one-more-thing'][11]['slug']]">
            <h5 class="hd5  new-head-interview line-height-1"> <b>{{onemore['data']['one-more-thing'][11]['headline']}}</b></h5>
            </a>
            <ul class="list-items">
              <ng-template ngFor let-item [ngForOf]="createRange(4)" let-currentIndex="index+3">
                <a class="testvideo" [routerLink]="['/'+onemore['data']['one-more-thing'][currentIndex]['event']+'/'+onemore['data']['one-more-thing'][currentIndex]['category']+'/'+onemore['data']['one-more-thing'][currentIndex]['slug']]">
                <li><span class="bor-left-blue"> {{onemore['data']['one-more-thing'][currentIndex]['headline'] |slice:0:35 }}</span>
                <p class="color_orange color_base_m bor-left-red"><b>{{onemore['data']['one-more-thing'][currentIndex]['sub_headline'] }}</b></p></li>
                </a>
              </ng-template>
               </ul>

          </div>

        </div></div>

      <div class="col-md-4 col-sm-12 col-xs-12 top-space-m ">
        <div class="">
          <a class="testvideo" [routerLink]="['/'+onemore['data']['one-more-thing'][9]['event']+'/'+onemore['data']['one-more-thing'][9]['category']+'/'+onemore['data']['one-more-thing'][9]['slug']]">
            <img src="{{onemore['data']['one-more-thing'][9]['image_url'] }}" alt="{{onemore['data']['one-more-thing'][9]['image_alt'] }}" style="width:100%"/>
          </a>
            <div class="content-part1 ">
            <a class="testvideo" [routerLink]="['/'+onemore['data']['one-more-thing'][9]['event']+'/'+onemore['data']['one-more-thing'][9]['category']+'/'+onemore['data']['one-more-thing'][9]['slug']]">
            <h5 class="hd5   new-head-interview line-height-1" > <b>{{onemore['data']['one-more-thing'][9]['headline'] }}</b></h5>
            </a>
            <ul class="list-items">

              <ng-template ngFor let-item [ngForOf]="createRange(2)" let-currentIndex="index+7">
                <a class="testvideo" [routerLink]="['/'+onemore['data']['one-more-thing'][currentIndex]['event']+'/'+onemore['data']['one-more-thing'][currentIndex]['category']+'/'+onemore['data']['one-more-thing'][currentIndex]['slug']]">
                <li><span class="bor-left-blue"> {{onemore['data']['one-more-thing'][currentIndex]['headline'] |slice:0:40 }}</span>
                  <p class="color_orange color_base_m bor-left-red"><b>{{onemore['data']['one-more-thing'][currentIndex]['sub_headline'] }}</b></p></li>
                </a>
              </ng-template>

              <ng-template ngFor let-item [ngForOf]="createRange(2)" let-currentIndex="index+10">
                <a class="testvideo" [routerLink]="['/'+onemore['data']['one-more-thing'][currentIndex]['event']+'/'+onemore['data']['one-more-thing'][currentIndex]['category']+'/'+onemore['data']['one-more-thing'][currentIndex]['slug']]">
                  <li><span class="bor-left-blue"> {{onemore['data']['one-more-thing'][currentIndex]['headline'] |slice:0:40 }}</span>
                    <p class="color_orange color_base_m bor-left-red"><b>{{onemore['data']['one-more-thing'][currentIndex]['sub_headline'] }}</b></p></li>
                </a>
              </ng-template>
            </ul>






          </div>


        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <a [routerLink]="['/one-more-thing/all']">
          <button class="btn btn-primary btn_sm_m">View All</button>
        </a>
      </div>
    </div>


  </section>
</section> -->
