.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

}

@media (max-width: 599px) {
  .marg-top {
    margin-top: 10px;

  }
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }

  .gap-part1 mat-grid-list {
    width: calc(((25% - 64.25px) * 1) + 0px) !important;
    height: calc(200px) !important;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.gap-part mat-grid-tile {
  width: calc(((25% - 12.75px) * 1) + 0px) !important;
  height: calc(((250px - 19px) * 1) + 0px) !important;

  padding-bottom: 10px;

}

.img-doc img {
  margin-top: 34px;

}

.h5-size {
  font-size: 16px;
  font-weight: 500;
}

.hdg_line, .hdg_line2, .hdg_line3 {
  border-bottom: 3px solid #d9534f;
  border-top: 3px solid #d9534f;
  height: 1px;
  position: absolute;
  width: 100%;
  margin: 20px;
}
.dis{
  display: none;
}
@media (max-width: 599px) {
  .dis{
    display: block;
  }
}

@media (max-width: 978px) {
  .dis1{
    display: block;
  }
}
@media (max-width: 599px) {
  .dis1{
    display: none;
  }
  .mobile-m-top{
    clear:both;
    margin-top:60px;
  }
  h1{
    font-size:18px;
  }
}

@media (max-width: 768px){
  .hd4_mobile{
    font-size: 12.5px !important;
    font-weight: 500;
    line-height: 18px;
    padding: 0px;
  }
  .color_orange1 {
    color: #e27520;
  }
}

.main_heading{
  margin-top:15px;
}