<style>
  .TN-item{
    background-size: 100% 100%;
    background-position: center;}
</style>

<app-nav></app-nav>

<div class="container">

  <br>

  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayout.lt-md="row"fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center" style="clear:both" class="mar-top-mobile">

      <div fxFlex="30%">
          <a href="https://rssdi2019.therightdoctors.com" class="testevents TN-item" target="_blank"
             style="background-image:url('../../assets/rssdi2019_Special.jpg');">
            <div class="pd-place-mouter">
              <div class="pd-place-outer">
              </div>
            </div>
          </a>
        </div> 

    <div fxFlex="30%">
      <a href="https://wccmm2019.therightdoctors.com" class="testevents TN-item" target="_blank"
         style="background-image:url('../../assets/img/wccmm.jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div> 

    <!-- <div fxFlex="30%">
      <a [routerLink]="['/specials/vaicon-2018']" class="testevents TN-item"
         style="background-image:url('../../assets/321 235.jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">

          </div>
        </div>
      </a>
    </div> -->

    <div fxFlex="30%" fxFlex.lt-md="50%">
      <a [routerLink]="['/specials/rssdi-ahmedabad-2018']" class="testevents TN-item"
         style="background-image:url('../../assets/new-home-page/single/images/rssdi-ahmedabad-2018.jpg'); background-image-size: 300px;">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>

   

  </div>
  <br>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center">

      <div fxFlex="30%" fxFlex.lt-md="50%">
          <a [routerLink]="['/specials/dr-ulhas-pandurangi-sixth-live-cardiac-electrophysiology-workshop-madras-medical-mission-2018']" class="testevents TN-item"
             style="background-image:url('../../assets/img/sixth-live-cardiac-electrophysiology.jpg'); background-image-size: 300px;">
            <div class="pd-place-mouter">
              <div class="pd-place-outer">
              </div>
            </div>
          </a>
        </div>

    <div fxFlex="30%" fxFlex.lt-md="50%">
      <a [routerLink]="['/specials/dr-ulhas-pandurangi-fifteenth-annual-electrocardiology-course-basics-and-beyond-madras-medical-mission-2018']" class="TN-item"
         style="background-image:url('../../assets/img/ecg-specials.jpg'); background-image-size: 300px;">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>

    <div fxFlex="30%" fxFlex.lt-md="50%">
      <a [routerLink]="['/specials/stemi-india-lucknow-2018']" class="testevents TN-item"
         style="background-image:url('../../assets/img/stemi-india-2018-330.jpg'); background-image-size: 300px;">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>

    

  </div>
  <!--<div fxLayout.md="column"><a [routerLink]="['/specials/wccpci-2015']" class="TN-item" style="background-image:url('https://storage.googleapis.com/web-assets/static-images/event2.jpg');"><div class="pd-place-mouter"><div class="pd-place-outer"></div></div></a></div>
  -->
  <br>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center">
    
      <div fxFlex="30%">
          <a [routerLink]="['/specials/aicog-2018']" class="testevents TN-item"
             style="background-image:url('https://storage.googleapis.com/web-assets/images/AICOG2018/aicogtv/336X235.jpg'); background-image-size: 300px;">
            <div class="pd-place-mouter">
              <div class="pd-place-outer">
              </div>
            </div>
          </a>
        </div>

    <div fxFlex="30%">
      <a [routerLink]="['/specials/wcce-2017']" class="testevents TN-item"
         style="background-image:url('assets/new-home-page/single/images/wcce2017-specials.jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>

    <div fxFlex="30%">
      <a [routerLink]="['/specials/csi-2017']" class="testevents TN-item"
         style="background-image:url('assets/new-home-page/single/images/EmcureCSItv.jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>

    

  </div>
  <br>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center">
    
      <div fxFlex="30%">
          <a [routerLink]="['/specials/wccicc-2017']" class="testevents TN-item"
             style="background-image:url('assets/new-home-page/single/images/WCCICC-Page-3-samll.jpg');">
            <div class="pd-place-mouter">
              <div class="pd-place-outer">
              </div>
            </div>
          </a>
        </div>

    <div fxFlex="30%">
      <a [routerLink]="['/specials/csikochi-2016']" class="testevents TN-item"
         style="background-image:url('/assets/new-home-page/single/images/Page  Special.jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>
    <div fxFlex="30%">
      <a [routerLink]="['/specials/wccpci-2016']" class="testevents TN-item"
         style="background-image:url('/assets/new-home-page/single/images/336X235.jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>

    

    <!--<div fxLayout.md="column"><a href="/specials/IHJ-Live" class="TN-item" style="background-image:url('/assets/new-assets/single/images/IHJ_image.jpg');"><div class="pd-place-mouter"><div class="pd-place-outer"></div></div></a></div>-->

    <!--<div fxLayout.md="column"><a href="/specials/Eco-India-Madhurai" class="TN-item" style="background-image:url('/assets/new-assets/single/images/ECO India madurai.jpg');"><div class="pd-place-mouter"><div class="pd-place-outer"></div></div></a></div>-->
  </div>
  <br>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center">
      <div fxFlex="30%">
          <a [routerLink]="['/specials/c3']" class="testevents TN-item"
             style="background-image:url('/assets/new-home-page/single/images/1234545.png');">
            <div class="pd-place-mouter">
              <div class="pd-place-outer">
              </div>
            </div>
          </a>
        </div>

    <div fxFlex="30%">
      <a [routerLink]="['/specials/apvic']" class="testevents TN-item"
         style="background-image:url('/assets/new-assets/single/images/asianpacific.jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>

    <div fxFlex="30%">
      <a [routerLink]="['/specials/csinic-2016']" class="testevents TN-item"
         style="background-image:url('/assets/new-home-page/single/images/1 (5).jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>

   

  </div>
  <br>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center">
    
      <div fxFlex="30%">
          <a [routerLink]="['/revolution-talk']" class="testevents TN-item"
             style="background-image:url('/assets/new-home-page/single/images/375,241.jpg');">
            <div class="pd-place-mouter">
              <div class="pd-place-outer">
              </div>
            </div>
          </a>
        </div>

    <div fxFlex="30%">
      <a [routerLink]="['/Dr-Hk-Chopra-Sr-Cardiologist-Moolchand-Hospital-Delhi']" class="testevents TN-item"
         style="background-image:url('/assets/new-assets/single/images/hkcc.jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>

    <div fxFlex="30%">
      <a [routerLink]="['/Dr-Rishi-Jain-Sr-Cardiologist']" class="testevents TN-item"
         style="background-image:url('/assets/new-assets/single/images/rjn.jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>

    

  </div>
  <br>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center">
      <div fxFlex="30%">
          <a [routerLink]="['/Dr-Manish-Verma-Sr-Cardiologist-Fortis-Hospital-Bangalore']" class="testevents TN-item"
             style="background-image:url('/assets/new-assets/single/images/manish.jpg');">
            <div class="pd-place-mouter">
              <div class="pd-place-outer">
              </div>
            </div>
          </a>
        </div>

    <div fxFlex="30%">
      <a [routerLink]="['/specials/ihj-2015']" class="testevents TN-item"
         style="background-image:url('assets/new-assets/single/images/sundeep.jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">

          </div>
        </div>
      </a>
    </div>
    <div fxFlex="30%">
      <a [routerLink]="['/specials/cardiac-prevent-2015']" class="testevents TN-item"
         style="background-image:url('https://storage.googleapis.com/web-assets/static-images/event1.jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">

          </div>
        </div>
      </a>
    </div>

    

  </div>
  <br>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center">
    

      <div fxFlex="30%">
          <a [routerLink]="['/specials/wccpci-2015']" class="testevents TN-item"
             style="background-image:url('https://storage.googleapis.com/web-assets/static-images/event2.jpg');">
            <div class="pd-place-mouter">
              <div class="pd-place-outer">
    
              </div>
            </div>
          </a>
        </div>

    <div fxFlex="30%">
      <a [routerLink]="['/specials/csicon-2014']" class="testevents TN-item"
         style="background-image:url('https://storage.googleapis.com/web-assets/static-images/event3.jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">

          </div>
        </div>
      </a>
    </div>
    <div fxFlex="30%">
      <a [routerLink]="['/specials/wcchd-2015']" class="testevents TN-item"
         style="background-image:url('https://storage.googleapis.com/web-assets/static-images/event4.jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">

          </div>
        </div>
      </a>
    </div>


  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center">
    <div fxFlex="30%">
      <a [routerLink]="['/specials/ias-2014']" class="testevents TN-item"
         style="background-image:url('https://storage.googleapis.com/web-assets/static-images/event6.jpg');">
        <div class="pd-place-mouter">
          <div class="pd-place-outer">
          </div>
        </div>
      </a>
    </div>
  </div>
</div>



<br>
<app-footer></app-footer>

