<app-nav></app-nav>
<!-- event banner -->
<img style="width: 100%;" src="/assets/new-home-page/single/images/dr.h.k.chopra.jpg">
<!-- event banner// -->

<!-- incon -->
<section class="back2">
  <section class="container">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutWrap>
      <div fxFlex="100%">

        <h2 class="main_heading mrg_btm">In Conversation<span class="hdg_line"></span></h2>
      </div>
    </div>

    <div class="mrg_btm">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutWrap>

        <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
        <div class="panel_six panel_light_grey border_yellow" fxFlex="50%">

          <a [routerLink]="['/in-conversation/dr-h-k-chopra-with-dr-jagat-narula-and-dr-srinath-reddy']">
            <img
              src="https://storage.googleapis.com/web-assets/images/events/csicardiacprevent2015/thumbnails/Jagat%20Narula_Srinath%20reddy/Jagat%20Narula_Srinath%20reddy-medium.jpg"
              alt="Dr.H.K.Chopra with Dr.Jagat Narula and Dr.Srinath Reddy">
            <div class="pdg1"><h4 class="hd4">Education for Healthy Living: A Universal Agenda<br><span
              class="color_orange">Dr.H.K.Chopra with Dr.Jagat...</span></h4>
            </div>

            <!--<div class="clearfix"></div>-->

            <!--<div class="clearfix"></div>-->
          </a>
        </div>
        <!--</div>-->
        <!--<div class="col-md-3 col-sm-12 col-xs-12">-->
        <!--<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1px">-->
        <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
        <div class="mrg_top_m" fxFlex="25%">
          <div class="panel_six panel_thin_grey border_yellow">
            <a [routerLink]="['/in-conversation/dr-h-k-chopra-with-dr-santanu-guha-and-dr-venkat-s-ram']">
              <img
                src="https://storage.googleapis.com/web-assets/images/events/csicardiacprevent2015/thumbnails/Santanu%20Guha_Venkat%20S%20Ram/Santanu%20Guha_Venkat%20S%20Ram-medium.jpg"
                alt="Dr. HK Chopra with Dr. Santanu Guha and Dr. Venkat S Ram">
              <div class="pdg1"><h4 class="hd4"><span class="color_white">Public awareness on Hypertension: A National Priority</span>
              </h4>
                <h5 class="hd5"><span class="color_white">High blood pressure doesn’t show symptoms...</span>
                </h5>
                <h4 class="hd4"><span class="color_orange">Dr. HK Chopra, Dr. Santanu Guha...</span></h4>
              </div>
              <!--<div class="clearfix"></div>-->
            </a>
          </div>
        </div>
        <!-- <div fxFlex="20%"></div>-->
        <!--  </div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="col-md-3 col-sm-12 col-xs-12">-->
        <!-- <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1px">-->
        <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
        <div class="mrg_top_m" fxFlex="25%">
          <a
            [routerLink]="['/in-conversation/dr-hk-chopra-president-dr-amal-banerjee-dr-db-pahlajani-digital-technology-future-of-heart-care-in-india']">
            <div class="panel_six panel_light_grey border_yellow">
              <img
                src="https://storage.googleapis.com/web-assets/images/wccpci_images/thumbnails/Chopra-Amal-Pahlajani.jpg"
                alt="Dr. HK Chopra, President, Cardiological Society of India, Dr. Amal Banerjee, Sr. Cardiologist, Fortis Hospital, Kolkata, Dr. DB Pahlajani, Sr. Interventional Cardiologist, Breach Candy, Mumbai, Digital technology: Future of heart care in India">
              <div class="pdg1"><h4 class="hd4">Digital technology: Future of heart care in India</h4>
                <h5 class="hd5"> Webinars and webcasts offer great solutions...
                </h5>
                <h4 class="hd4"><span class="color_orange">Dr. HK Chopra, Dr. Amal...</span>
                </h4>
              </div>
              <!--   <div class="clearfix"></div>-->
            </div>
          </a>
        </div>
        <!--</div>-->

        <!--</div>-->
        <!--</div>-->

      </div>
    </div>

    <div class="mrg_btm">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
        <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
        <div fxFlex="50%">
          <div class="panel_six panel_light_grey border_yellow">
            <a [routerLink]="['/in-conversation/dr-h-k-chopra-in-conversation-with-dr-mona-bhatia-and-dr-m-n-beera']">
              <img
                src="https://storage.googleapis.com/web-assets/images/wccpci_images/thumbnails/Mahapatra_Mona%20Bhatia/Mahapatra_Mona%20Bhatia-medium.jpg"
                alt="Dr.H.K.Chopra In Conversation with Dr.Mona Bhatia and Dr.M.N.Beera">
              <div class="pdg1"><h4 class="hd4">MR angiography set to replace CT as a procedure of choice<br><span
                class="color_orange">Dr. Mona Bhatia, Dr. MN Beera</span></h4>
                <!--<div class="clearfix"></div>-->
              </div>
              <!--<div class="clearfix"></div>-->
            </a>
          </div>
        </div>
        <div fxFlex="50%">
          <!-- <div class="col-md-6 col-sm-12 col-xs-12">-->
          <div class="panel_six panel_light_grey border_yellow">
            <a [routerLink]="['/in-conversation/dr-h-K-chopra-with-dr-m-k-das-dr-shiv-Kumar-and-dr-amal-banerjee']">
              <img
                src="https://storage.googleapis.com/web-assets/images/events/csicardiacprevent2015/thumbnails/Dr.M.K.Das_Shiva_AmalBanerjee/Dr.M.K.Das_Shiva_AmalBanerjee-large.jpg"
                alt="Dr.H.K.Chopra with Dr.M.K.Das, Dr.J Shiv Kumar and Dr.Amal banerjee">
              <div class="pdg1"><h4 class="hd4"> Smoking: A Deadly Addiction<br><span class="color_orange">Dr. MK Das, Dr. J Shiv Kumar,Dr. Amal K Banerjee</span>
              </h4>

                <!--
                                <div class="clearfix"></div>-->
              </div>
              <!--<div class="clearfix"></div>-->
            </a>
          </div>
        </div>

      </div>
    </div>

  </section>
</section>
<!--highlights//-->


<!--interview-->
<section class="back2">
  <section class="container">

    <div fxLayout="row" fxLayout.md="column">
      <!--<div class="col-md-12">-->
      <div fxFlex="100%">
        <h2 class="main_heading mrg_btm">The Interview<span class="hdg_line"></span></h2>
      </div>
    </div>

    <div class="mrg_btm">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
        <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
        <div fxFlex="50%">
          <div class="panel_four panel_dark_grey border_yellow">
            <div fxLayout="row">
              <a
                [routerLink]="['/the-interview/dr-hk-chopra-president-cardiological-society-of-india-global-readership-for-the-digitised-indian-heart-journal']">
                <img
                  src="https://storage.googleapis.com/web-assets/images/IHJ_images/Dr.HKChopra2/Dr.HKChopra2-medium.jpg"
                  alt="Dr. HK Chopra, President, Cardiological Society of India, Moolchand Hospital, New Delhi, Global readership for the digitised Indian Heart Journal">
                <div class="pdg1 pdgrt">
                  <h4 class="hd4 hd4_m color_white"> Global readership for the digitised Indian Heart Journal<br><span
                    class="color_yellow">Dr. HK Chopra</span></h4>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!--</div>-->
        <div fxFlex="50%">
          <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
          <div class="panel_four panel_dark_grey border_yellow">
            <div class="row" style="margin-left:0;margin-right:0">
              <a
                [routerLink]="['/the-speakers/dr-hk-chopra-president-cardiological-society-of-india-challenges-in-stemi-care-in-india-and-in-the-real-world']">
                <!--<div class="col-md-12 col-sm-4 col-xs-4">-->
                <img
                  src="https://storage.googleapis.com/web-assets/images/wccpci_images/thumbnails/Speakers/Dr.HKChopra/Dr.HKChopra-medium.jpg"
                  alt="Dr. HK Chopra, President, Cardiological Society of India, Challenges in STEMI Care in India and in the Real World">
                <!--</div>-->
                <!--<div class="col-md-12 col-sm-8 col-xs-8">-->
                <div class="pdg1 pdgrt">
                  <h4 class="hd4 hd4_m color_white"> Challenges in STEMI Care in India...<br><span
                    class="color_yellow">Dr. HK Chopra</span></h4>
                </div><!--</div>-->
              </a>
            </div>
          </div>
          <!--</div>-->
        </div>

      </div>
    </div>

    <div class="mrg_btm">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

        <!--<div class="col-md-3 col-sm-12 col-xs-12">-->
        <div fxFlex="25%">
          <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
          <div class="mrg_top_m">
            <div class="panel_six panel_thin_grey border_yellow">
              <a [routerLink]="['/the-interview/dr-h-k-chopra-dr-santanu-guha-preparing-the-future-generations']">
                <img
                  src="https://storage.googleapis.com/web-assets/images/CSI-NIC_Images/Interviews/DrHKChopra%26SantanuGuha/DrHKChopra%26SantanuGuha-large.jpg"
                  alt="Dr. HK Chopra, Chairman National CSI Affairs, Dr. Santanu Guha, president of CSI 2016, Cardiologist in Kolkata, Nightingle">
                <div class="pdg1"><h4 class="hd4"><span class="color_white">No Kidding! Cardiac Care For Kids</span>
                </h4>
                  <h5 class="hd5"><span class="color_white">The Healthy Heart Initiative By The CSI...</span>
                  </h5>
                  <h4 class="hd4"><span class="color_orange">Dr. HK Chopra, Dr. Santanu Guha</span></h4>
                </div>
                <!--     <div class="clearfix"></div>-->
              </a></div>
            <a [routerLink]="['https://therightdoctors.com/live-case/dr-chris-naber-live-case-apollo-secundrabad']">
            </a></div>
          <a href="https://therightdoctors.com/live-case/dr-chris-naber-live-case-apollo-secundrabad">
          </a>
          <a href="https://therightdoctors.com/live-case/dr-chris-naber-live-case-apollo-secundrabad">
            <a href="https://therightdoctors.com/live-case/dr-chris-naber-live-case-apollo-secundrabad">
            </a> </a></div>

        <div fxFlex="25%">
          <!--  <div class="row">-->
          <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
          <div class="mrg_top_m">
            <div class="panel_six panel_thin_grey border_yellow">
              <a
                [routerLink]="['/the-interview/dr-hk-chopra-president-cardiological-society-of-india-indian-heart-journal-king-of-innovation-in-cardiology']">
                <img
                  src="https://storage.googleapis.com/web-assets/images/IHJ_images/Dr.HKChopra2/Dr.HKChopra2-large.jpg"
                  alt="Dr. HK Chopra, President, Cardiological Society of India, Moolchand Hospital, New Delhi, Indian Heart Journal: King of innovation in cardiology">
                <div class="pdg1"><h4 class="hd4"><span class="color_white">Indian Heart Journal: King of Innovation in Cardiology</span>
                </h4>
                  <h5 class="hd5"><span class="color_white">Read the Indian Heart Journal to keep yourself updated...</span>
                  </h5>
                  <h4 class="hd4"><span class="color_orange">Dr. HK Chopra </span></h4>
                </div>
                <!--<div class="clearfix"></div>-->

              </a></div>
            <a [routerLink]="['https://therightdoctors.com/live-case/dr-chris-naber-live-case-apollo-secundrabad']">
            </a></div>
          <a [routerLink]="['https://therightdoctors.com/live-case/dr-chris-naber-live-case-apollo-secundrabad']">
          </a><!--</div>-->
          <a [routerLink]="['https://therightdoctors.com/live-case/dr-chris-naber-live-case-apollo-secundrabad']">
          </a><!--</div>--><a
          [routerLink]="['https://therightdoctors.com/live-case/dr-chris-naber-live-case-apollo-secundrabad']">
        </a></div>

        <div fxFlex="50%">
          <div class="panel_six panel_light_grey border_yellow">
            <a
              [routerLink]="['/the-interview/dr-mk-das-consultant-cardiologist-dr-hk-chopra-president-cardiological-society-of-india-publish-or-perish-csi-encourages-research']">
              <img src="https://storage.googleapis.com/web-assets/images/IHJ_images/Dr.MKDas/Dr.MKDas-large.jpg"
                   alt="Dr. MK Das, Consultant Cardiologist, Calcutta Medical Institute, Kolkata, Dr. HK Chopra, President, Cardiological Society of India, Moolchand Hospital, New Delhi, Publish or perish: CSI encourages research ">
              <div class="pdg1"><h4 class="hd4">Publish or perish: CSI encourages research<br><span
                class="color_orange">Dr. MK Das, Dr. HK Chopra</span></h4>


                <!--<div class="clearfix"></div>-->
              </div>
              <!-- <div class="clearfix"></div>-->
            </a>
          </div>
        </div>

      </div>

    </div>

  </section>
</section>
<!--interview//-->

<section class="back3">
  <section class="container">

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

      <div fxFlex="100%">
        <h2 class="main_heading2 mrg_btm">More Videos<span class="hdg_line"></span></h2>
      </div>
    </div>

    <div class="mrg_btm">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
        <div fxFlex="25%">
          <div class="panel_five panel_dark_grey">
            <!--<div class="row">-->
            <a
              [routerLink]="['/the-speakers/dr-h-k-chopra-president-cardiological-society-of-india-triple-jeopardy-of-obesity-epidemic-metabolic-syndrome-cvd-and-heart-failure-time-to-act-is-now']">
              <!--<div class="col-md-12 col-sm-4 col-xs-4">--><img
              src="https://storage.googleapis.com/web-assets/images/events/csicardiacprevent2015/thumbnails/Speakers/Dr.HK.Chopra/Dr.HK.Chopra-medium.jpg"
              alt="Dr HK Chopra">
              <!--</div>-->
              <!--<div class="col-md-12 col-sm-8 col-xs-8">--><h5 class="hd5 color_white">Triple jeopardy of Obesity
              Epidemic-Metabolic Syndrome, CVD...<br><span class="color_yellow">Dr. HK Chopra</span>
            </h5>
              <!--</div>-->
            </a>
            <!--</div>-->
          </div>
        </div>

        <div fxFlex="25%">
          <div class="mrg_top_m">
            <div class="panel_five panel_dark_grey">
              <!--<div class="row">-->
              <a
                [routerLink]="['/one-more-thing/dr-hk-chopra-president-csi-leading-cardiologist-fast-food-kills-you-fast']">
                <!--<div class="col-md-12 col-sm-4 col-xs-4">--><img
                src="https://storage.googleapis.com/web-assets/images/Dr.H.K.Chopra-on-fast-food.jpg"
                alt="Dr. HK Chopra ">
                <!--</div>-->
                <!--<div class="col-md-12 col-sm-8 col-xs-8">--><h5 class="hd5 color_white"> Fast Food Kills You
                Fast<br><span class="color_yellow">Dr. HK Chopra</span></h5>
                <!--</div>-->
              </a>
              <!--</div>-->
            </div>
          </div>
        </div>

        <div fxFlex="25%">
          <div class="mrg_top_m">
            <div class="panel_five panel_dark_grey">
              <!--  <div class="row">-->
              <a [routerLink]="['/highlights/say-no-to-six-s-dr-h-k-chopra']">
                <!--<div class="col-md-12 col-sm-4 col-xs-4">--><img
                src="https://storage.googleapis.com/web-assets/images/events/csicardiacprevent2015/thumbnails/say-no-to-six-s/DrHKChopra/DrHKChopra-large.jpg"
                alt="Dr HK Chopra "><!--</div>-->
                <!--<div class="col-md-12 col-sm-8 col-xs-8">--><h5 class="hd5 color_white">Say No to Six S: A
                CardiacPrevent2015 Campaign<br><span class="color_yellow">Dr. HK Chopra</span></h5><!--</div>-->
              </a>
              <!--</div>-->
            </div>
          </div>
        </div>

        <div fxFlex="25%">
          <div class="mrg_top_m">
            <div class="panel_five panel_dark_grey">
              <!--<div class="row">-->
              <a [routerLink]="['/in-conversation/dr-h-k-chopra-with-dr-satish-gupta']">
                <!--<div class="col-md-12 col-sm-4 col-xs-4">--><img
                src="https://storage.googleapis.com/web-assets/images/wccpci_images/thumbnails/DrRakeshGupta/DrRakeshGupta-medium.jpg"
                alt="Dr HK Chopra, Dr. Satish gupta"><!--</div>-->
                <!--<div class="col-md-12 col-sm-8 col-xs-8">--><h5 class="hd5 color_white">Rajayoga meditation: A
                powerful cure...<br><span class="color_yellow">Dr. HK Chopra, Dr. Satish gupta</span></h5><!--</div>-->
              </a>
              <!--</div>-->
            </div>
          </div>

        </div>

        <!--<div class="clearfix"></div>-->
      </div>
    </div>

  </section>
</section>
<app-footer></app-footer>
