<section class="back2">
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hd2 mrg_btm no_mrg_m">Tips For Healthy Living</div>
      </div>
    </div>
    <div class="mrg_btm">
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <a style="color:#337ab7"  [routerLink]="['/synapse/benefits-of-yoga']">
            <img src="assets/new-assets/tips/images/BenefitsofYoga/01.jpg" alt="Benefits of yoga"><h5
            class="hd5 text-center">Benefits of yoga <br/></h5>
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <a style="color:#337ab7" [routerLink]="['/synapse/get-a-good-start']">
            <img src="assets/new-assets/tips/images/GetaGoodStart/1.jpg" alt="Get a good start"><h5
            class="hd5 text-center">Get a good start <br/></h5>
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <a style="color:#337ab7" [routerLink]="['/synapse/homemade-remedies']">
            <img src="assets/new-assets/tips/images/HomeMadeRemedies/15-6-15.jpg" alt="Home made remedies"><h5
            class="hd5 text-center">Home made remedies<br/></h5>
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <a style="color:#337ab7" [routerLink]="['/synapse/Quote-of-the-day']">
            <img src="assets/new-assets/tips/images/QuoteoftheDay/08.jpg" alt="Quote of the day"><h5
            class="hd5 text-center">Quote of the day<br/></h5>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a [routerLink]="['/synapse']">
          <button class="btn btn-primary btn_sm_m">View All</button>
        </a>
      </div>
    </div>
  </section>
</section>
