

<app-nav></app-nav>

    <div class="block" fxLayout="column" style="width: 100%;">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" style="">
      <!-- <mat-card class="box"> -->
        <!-- <mat-card-header> -->
          <!-- <mat-card-title>Sign Up</mat-card-title> -->
          
        <!-- </mat-card-header> -->
  
    
        <!-- <router-outlet></router-outlet> -->
  
        <div class="login" style="background-color: white;">
          <div >
            <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif;margin-bottom: 15px;"><b>Sign Up To The Right Doctors</b></h1>
            <h3 style="text-align: center;margin-bottom: 15px;">already have an account? <b><a routerLink="../contribution-login" routerLinkActive="active">Sign In!</a> </b></h3>
          </div>
    
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-horizontal" style="padding:15px;">
    
          <!-- <mat-card-content> -->
            <!-- <mat-form-field class="example-full-width"> -->
              <div class="form-group" style="margin:0px;">
                <label class="control-label col-sm-2" for="name" style="text-align: left !important;padding-left: 0px;">FullName</label>
                <input id="name" class="form-control" formControlName="name" matInput placeholder="Full Name">
                </div>
            <!-- </mat-form-field> -->
    
            <!-- <mat-form-field class="example-full-width"> -->
              <div class="form-group" style="margin:0px;">
                <label class="control-label col-sm-2" for="email" style="text-align: left !important;padding-left: 0px;">Email</label>
              <input ngModel email id="email" class="form-control" type="email" formControlName="email" matInput placeholder="Email">
              </div>
            <!-- </mat-form-field> -->
    
            <!-- <mat-form-field class="example-full-width"> -->
              <div class="form-group" style="margin:0px;">
                <label class="control-label col-sm-2" for="password" style="padding-left: 0px;text-align: left !important;">Password</label>
              <input type="password" id="password" class="form-control" formControlName="password" matInput placeholder="Password">
              </div>
            <!-- </mat-form-field> -->
    
            <!-- <mat-form-field class="example-full-width"> -->
              <div class="form-group" style="margin:0px;">
                <label class="control-label col-sm-2" for="mobile" style="padding-left: 0px;text-align: left !important;">Mobile</label>
              <input type="number" class="form-control" id="mobile" formControlName="mobile" matInput placeholder="Mobile No.">
              </div>
            <!-- </mat-form-field> -->
    
          <!-- </mat-card-content> -->
              <div style="text-align: center;margin-top: 15px;">
                <button color="accent" class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">Register</button>
  
              </div>
          <!-- (click)="addUser(name.value,email.value,password.value,mobile.value)" -->
        </form>
        <div style="margin-top: 10px;">
  
        <div *ngIf="registerForm.invalid">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
  
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            
          </div>
  
          <div *ngIf="name.valid && email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Email is required.
            </div>
            <div *ngIf="email.errors.email">
              Email is of invalid type.
            </div>
          </div>
  
          <div *ngIf="name.valid && email.valid && password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Current Password is required.
            </div>
            <!-- <div *ngIf="password.length<=5">
              Password should be of minimum length 5.
            </div> -->
          </div>
  
          <div *ngIf="name.valid && email.valid && password.valid && mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">
            <div *ngIf="mobile.errors.required">
              Mobile Number is required.
            </div>
          </div>
  
        </div>
        </div>
        
     
      
        
        </div>
      <!-- </mat-card> -->
    </div>
  </div>
  
  
    
    <!-- <span class="nav-tool-items">
            <a mat-button routerLink="login" routerLinkActive="active">Sign In</a>
            <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Sign Up</a>
          </span> -->
  
    <!-- <mat-form-field class="example-full-width">
              <mat-label>Choose a role...</mat-label>
              <mat-select [(value)]="selected">
                <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
  
  
  <!-- <form [formGroup]="registerForm" style="padding-top: 100px;">
  
    <label>
      Full Name:
      <input type="text" formControlName="fullName">
    </label>
  
    <label>
      E-mail:
      <input type="text" formControlName="email">
    </label>
  
  </form> -->

  <app-footer></app-footer>