@media (max-width: 599px) {

  .marg-top {
    margin-top: 110px;
  }

  hdg_line, .hdg_line2, .hdg_line3 {

    display: none;
  }

  .main_heading3 {
    font-size: 17px;
    font-weight: 600;
  }
}
