.container{
    max-width:700px !important;
}
@media(max-width:599px){
    .mat-form-field{
        width: 100%;
    }
    .heading h2{
        font-size: 20px !important;
    }
}
@media(min-width:600px){
    .mat-form-field{
        width: 300px !important;
    }
    .heading h2{
        font-size: 26px !important;
    }
}
h6{
    margin-bottom: 15px;
    font-size: 16px !important;
    line-height: 24px;
}
mat-card,.submit{
    margin-bottom: 12px;
}
.heading,.header{
    padding-top: 12px;
}
.heading .mat-card{
    border-top:10px solid #3f51b5;
}
.mat-card{
    padding: 24px !important;
}
.header{
    /* background-color: #fff !important; */
}
.backgroundd{
    /* background: #3f51b5; 
background: -webkit-linear-gradient(to right, #a0a9db, #3f51b5);  
background: linear-gradient(to right, #a0a9db, #3f51b5);  */
/* 
background: #1A2980; 
background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  
background: linear-gradient(to right, #26D0CE, #1A2980);  */

/* background: #085078;  
background: -webkit-linear-gradient(to right, #85D8CE, #085078); 
background: linear-gradient(to right, #85D8CE, #085078);  */

/* background: #536976;
background: -webkit-linear-gradient(to right, #292E49, #536976); 
background: linear-gradient(to right, #292E49, #536976); */

/* background: #757F9A;  
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  
background: linear-gradient(to right, #D7DDE8, #757F9A);  */
/* 
background: #6190E8;  
background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  
background: linear-gradient(to right, #A7BFE8, #6190E8);  */

}
@media(max-width:375px){
    .google-cloud{
        margin-top:5px;
    }
}
@media(min-width:375px){
    .google-cloud{
        margin-top:10px;
    }
}
@media(max-width:499px){
    .logo{
        width: 100px !important;
    }
}
@media(min-width:500px){
    .logo{
        height:110px !important;
        width:200px !important;
    }
}


.tp-radio-group {
    display: inline-flex;
    flex-direction: column;
 }
 .tp-radio-button {
    margin: 5px;
 }
 .tp-selected-value {
    margin: 15px 0;
 }

 .smiley1,.smiley2,.smiley3,.smiley4,.smiley5{
    height: 30px !important;
    width:30px !important;
}
.smiley1:hover,.smiley2:hover,.smiley3:hover,.smiley4:hover,.smiley5:hover{
    height:40px !important;
    width:40px !important;
}
/* .smiley1:active{
    background-color: red !important;
    border-radius: 100% !important;
} */
/* .smiley1:hover{
    background-color: red !important;
    border-radius: 100%;
    height: 40px !important;
} */
.smileys{
  height:70px;
}
.sim1{
    display:  inline-block; 
    text-align: center;
}
.center {
    /* display: block;
    margin-left: auto;
    width : 100% ;
    margin-right: auto;
    text-align: center; */
    max-width: 100%;
    text-align: center;
  }
table{
    table-layout: fixed;
    width : 100% ; 
}
table td{
    overflow: hidden;
    width : 100% ; 
    text-align: center;
    vertical-align: center;
    padding-bottom: 5px;
}
@media(max-width:400px){
    .footer h6{
        font-size: 12px !important;
    }
}